<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between">
    <h5>ความสอดคล้องโครงการ</h5>
  </div>

  <div class="card-body">

    <div class="mb-3">
      <a class="d-block mb-1 text-primary text-decoration-underline"
        style="cursor: pointer;"
        (click)="goToSubPage('/MasterData/MasProjectPlan/NationalStrategyZ')">
        1)ยุทธศาสตร์ชาติที่เกี่ยวข้องโดยตรง(Z)
      </a>
      <a class="d-block text-primary text-decoration-underline"
        style="cursor: pointer;"
        (click)="goToSubPage('/MasterData/MasProjectPlan/MasterPlanY')">
        2)ความสอดคล้องกับแผนแม่บทภายใต้ยุทธศาสตร์ชาติ (Y)
      </a>
      <a class="d-block text-primary text-decoration-underline"
        style="cursor: pointer;"
        (click)="goToSubPage('/MasterData/MasProjectPlan/NationalEconomicDevelopmentPlan')">
        3)แผนพัฒนาเศรษฐกิจและสังคมแห่งชาติ
      </a>
      <a class="d-block text-primary text-decoration-underline"
        style="cursor: pointer;"
        (click)="goToSubPage('/MasterData/MasProjectPlan/MinistryActionPlan')">
        4)ความสอดคล้องกับแผนปฏิบัติการราชการ ปปท (แผน 5 ปี)
      </a>
      <a class="d-block text-primary text-decoration-underline"
        style="cursor: pointer;"
        (click)="goToSubPage('/MasterData/MasProjectPlan/SuperDeptActionPlan')">
        5)ความสอดคล้องกับแผนปฏิบัติการราชการ ปปท (แผน 1 ปี)
      </a>
      <a class="d-block text-primary text-decoration-underline"
      style="cursor: pointer;"
      (click)="goToSubPage('/MasterData/MasProjectPlan/SDGsPlan')">
      6)ความสอดคล้องกับเป้าหมาย SDGs
    </a>
    </div>
  </div>
</div>


