
  <div class="expense-table-responsive">

    <table class="table table-bordered align-middle expense-table text-center mb-0">

      <!-- header -->
      <thead class="text-center text-white expense-table-header">
                    <tr>
                        <th style="width:5%">ลำดับ</th>
                        <th style="width:35%">รายการ</th>
                        <th style="width:15%">จำนวน</th>
                        <th style="width:20%">ราคา/หน่วย</th>
                        <th style="width:20%">รวมค่าใช้จ่าย</th>
                        <th style="width:5%">ลบ</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of items; let i = index">
                        <td>{{ i + 1 }}</td>

                        <td class="text-start">
                            <input class="form-control" [(ngModel)]="item.name"
                                (ngModelChange)="updateDetailItems()" placeholder="ระบุรายการ">
                        </td>

                        <td>
                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="."
                                inputmode="decimal" class="form-control text-center" [(ngModel)]="item.qty" placeholder="ระบุจำนวน"
                                (ngModelChange)="calculate(i)">
                        </td>

                        <td>
                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." placeholder="ระบุราคา/หน่วย" 
                                inputmode="decimal" class="form-control text-end" [(ngModel)]="item.price"
                                (ngModelChange)="calculate(i)">
                        </td>

                        <td class="fw-bold text-end text-black">
                            {{ item.total | number:'1.2-2' }}
                        </td>

                        <td>
                            <button class="btn btn-sm btn-danger" (click)="removeItem(i)">
                                <i class="bx bx-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end">รวมทั้งสิ้น</td>
                        <td class="text-end">{{ grandTotal | number:'1.2-2' }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-primary" (click)="addItem()">
             <i class="bx bx-plus text-black"></i>
                   <span class="text-black"> เพิ่มรายการ</span>
                </button>
                <span class="text-danger ms-2">จำนวน {{ items.length }} รายการ</span>
            </div>
        </div>
