<div class="card bg-light">

    <div class="card-header bg-light fw-bold">
        ประมาณการค่าใช้จ่าย
    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered text-center align-middle bg-white">

                <thead class="table-light">

                    <tr>
                        <th rowspan="2">รายการ</th>
                        <th rowspan="2">องค์ประชุม</th>
                        <th rowspan="2">คน</th>
                        <th rowspan="2">ครั้ง</th>
                        <th colspan="2">เบี้ยประชุม (บาท)</th>
                        <th rowspan="2">ค่าใช้จ่ายต่อคดี</th>
                        <th rowspan="2">รวมทั้งสิ้น</th>
                    </tr>

                    <tr>
                        <th>อัตรา</th>
                        <th>รวม</th>
                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let row of meetingList">

                        <!-- รายการ -->
                        <td class="text-start">
                            {{row.name}}
                        </td>

                        <!-- องค์ประชุม -->
                        <td class="bg-info-subtle">
                            <input type="number" min="0" class="form-control text-center" [(ngModel)]="row.committee"
                                (ngModelChange)="calculate(row)">
                        </td>

                        <!-- คน -->
                        <td class="bg-light">
                            <input type="number" min="0" class="form-control text-center" [(ngModel)]="row.people"
                                (ngModelChange)="calculate(row)">
                        </td>

                        <!-- ครั้ง -->
                        <td class="bg-light">
                            <input type="number" min="0" class="form-control text-center" [(ngModel)]="row.times"
                                (ngModelChange)="calculate(row)">
                        </td>

                        <!-- อัตรา -->
                        <td class="bg-light">
                            {{row.rate | number}}
                        </td>

                        <!-- รวมเบี้ยประชุม -->
                        <td class="bg-light fw-bold">
                            {{row.meetingTotal | number:'1.2-2'}}
                        </td>

                        <!-- ค่าใช้จ่ายต่อคดี -->
                        <td class="bg-light">
                            {{row.caseCost | number:'1.2-2'}}
                        </td>

                        <!-- รวมทั้งหมด -->
                        <td class="fw-bold text-primary">
                            {{row.total | number:'1.2-2'}}
                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>