<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">วางแผนโครงการ</h4>
            </div>

            <div class="card-body">
                <br />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="search-box d-inline-block mb-2">
                            <input type="text" class="form-control search" placeholder="ค้นหาโครงการ..."
                                [(ngModel)]="service.searchTerm" (input)="filterSearch()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>

                    <div class="col-lg-4">


                    </div>

                    <div class="col-lg-4 text-end">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalgrid"
                            (click)="fullModal(fullDataModal,emptyplan)">
                            <i class="ri-add-line me-1"></i>เพิ่มโครงการ
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead>
                            <tr style="text-align: center;">
                                <th style="width:5%">ลำดับ</th>
                                <th style="width:10%">หน่วยงาน</th>
                                <th style="width:15%">แผนงาน</th>
                                <th style="width:20%">ผลผลิต</th>
                                <th style="width:15%">กิจกรรม</th>
                                <th style="width:10%">หมวดงบ</th>
                                <th style="width:10%">โครงการ</th>
                                <th style="width:5%">งบประมาณ</th>
                                <th style="width:20%">สถานะ</th>
                                <th style="width:5%">แก้ไข</th>
                                <th style="width:5%">ลบ</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for(data of griddata; track $index){
                            <tr>
                                <td class="text-center">{{$index + 1}}</td>
                                <td class="text-center">{{data.Department_Name}}</td>
                                <td class="text-center">
                                    <ngb-highlight [result]="data.Plan_Name"
                                        [term]="service.searchTerm">{{data.Plan_Name}}</ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="data.Product_Name"
                                        [term]="service.searchTerm">{{data.Product_Name}}</ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="data.Activity_Name"
                                        [term]="service.searchTerm">{{data.Activity_Name}}</ngb-highlight>
                                </td>
                                <td>{{data.Budget_Type}}</td>
                                <td>{{data.Project_Name}}</td>

                                <td class="text-end">
                                    {{data.Po_Qty | number:'1.2-2'}}
                                </td>
                                <td class="text-center">
                                    <span class="badge" [ngClass]="
    data.Status_Number == 7 ? 'bg-danger' :
    data.Status_Number == 2 ? 'bg-warning text-dark' :
    data.Status_Number == 8 ? 'bg-success' : 'bg-secondary'
  ">
                                        {{ data.Status_Name }}
                                    </span>

                                </td>
                                <td class="text-center">
                                    <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalgrid" (click)="fullModal(fullDataModal,data)">
                                        <i class="ri-pencil-line"></i>
                                    </button>
                                </td>

                                <td class="text-center">
                                    <button class="btn btn-danger btn-sm" (click)="deletePlan(data)">
                                        <i class="ri-delete-bin-line"></i>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            Showing
                            {{service.startIndex}} to
                            {{service.endIndex}} of {{service.totalRecords}}
                            entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="text-md-right float-md-end gridjs-pagination">
                            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #fullDataModal let-modal>

    <div class="modal-header">
        <h5 class="modal-title">ข้อมูลโครงการ</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Close click')"></button>
    </div>

    <div class="modal-body">

        <div class="card border-0">
            <div class="card-body">


                <ul class="nav nav-tabs mb-4">
                    <li class="nav-item">
                        <button class="nav-link" [class.active]="currentTab">
                            1. ข้อมูลทั่วไป
                        </button>
                    </li>

                </ul>
                <app-tab-general [model]="project_planing"></app-tab-general>

                <br>
                <ul class="nav nav-tabs mb-4">


                    <li class="nav-item">
                        <button class="nav-link" [class.active]="currentTab === 2 || currentTab === 1"
                            (click)="goTab(2)">
                            2. ความเชื่อมโยงกับแผนระดับต่างๆ
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link" [class.active]="currentTab === 3" (click)="goTab(3)">
                            3. รายละเอียดโครงการ
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" [class.active]="currentTab === 4" (click)="goTab(4)">
                            4. แนวทางในการดำเนินการ
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" [class.active]="currentTab === 5" (click)="goTab(5)">
                            5. ผู้ประสานงาน
                        </button>
                    </li>
                </ul>
                <app-tab-alignment [hidden]="!firstLoad && currentTab !== 2" [model]="project_planing">
                </app-tab-alignment>
                <app-tab-detail [hidden]="currentTab !== 3" [model]="project_planing">
                </app-tab-detail>

                <app-tab-guideline [hidden]="currentTab !== 4" [model]="project_planing">
                </app-tab-guideline>
                <app-tab-coordinator [hidden]="currentTab !== 5" [model]="project_planing">
                </app-tab-coordinator>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-success" (click)="savePlan(modal)">
            💾 บันทึก
        </button>
        <button class="btn btn-light" (click)="modal.dismiss()">
            ยกเลิก
        </button>
    </div>

</ng-template>