.sub-row {
    background-color: #000000;
}

.table-info {
    background-color: #dbeafe !important;
}

.sticky-header th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #556398 !important;
    color: white;
}

/* สำหรับ header 2 แถว */
.sticky-header tr:nth-child(2) th {
    top: 48px;
}

.row-animate {
    transition: all 0.25s ease;
}

.row-animate.moving {
    background-color: #c5e8ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}