
    <!-- table -->
    <div class="expense-table-responsive">

        <table class="table table-bordered align-middle expense-table text-center mb-0">

            <!-- header -->
            <thead class="text-center text-white expense-table-header">

                <tr>

                    <th rowspan="2" style="width:5%">

                        ลำดับ

                    </th>

                    <th rowspan="2" class="item-col" style="width:25%">

                        รายการ

                    </th>

                    <th colspan="2" style="width:7%">

                        ราคาในมาตรฐาน

                    </th>
 <th rowspan="2" style="width:10%">

                        จำนวน

                    </th>

                    <th rowspan="2" style="width:10%">

                        ราคา/หน่วย

                    </th>

                   
                    <th rowspan="2" style="width:10%">

                        วงเงินรวม

                    </th>

                    <th colspan="2" style="width:28%">

                        เหตุผล

                    </th>

                    <th rowspan="2" style="width:5%">ลบ</th>

                </tr>

                <tr>

                    <th style="width:3%">

                        ใน

                    </th>

                    <th style="width:3%">

                        นอก

                    </th>

                    <th style="width:14%">

                        จำนวนที่ขอใหม่

                    </th>

                    <th style="width:14%">

                        จำนวนทดแทน

                    </th>

                </tr>

            </thead>

            <!-- body -->
            <tbody>

                <tr *ngFor="
                            let item of items;
                            let i = index
                        ">

                    <!-- index -->
                    <td class="align-top">

                        {{ i + 1 }}

                    </td>

                    <!-- item -->
                    <td class="align-top">

                        <input *ngIf="isTextMode" class="form-control" [(ngModel)]="item.materialName"
                            (ngModelChange)="updateDetailItems()">

                        <ng-select *ngIf="!isTextMode" class="asset-investment-select" [items]="Mas_Expense_Detial_List"
                            bindLabel="Expense_Detial_Name" bindValue="Expense_Detial_Id" [(ngModel)]="item.material"
                            placeholder="--- โปรดเลือก ---" appendTo="body"
                            (change)="onMaterialChange(item, $event, i)">
                        </ng-select>

                        <input *ngIf="!isTextMode && isOtherDetail(item)" class="form-control mt-1"
                            placeholder="ระบุรายการ" [(ngModel)]="item.customMaterialName"
                            (ngModelChange)="updateDetailItems()">

                    </td>

                    <!-- standard in -->
                    <td class="align-top">

                        <input type="checkbox" class="readonly-checkbox" [checked]="item.standardIn" tabindex="-1" 
                            aria-disabled="true" style="background-color: #ebeff3;">

                    </td>

                    <!-- standard out -->
                    <td class="align-top">

                        <input type="checkbox" class="readonly-checkbox" [checked]="item.standardOut" tabindex="-1"
                            aria-disabled="true" style="background-color: #ebeff3;">

                    </td>
                      <!-- qty -->
                    <td class="align-top">

                        <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." placeholder="ระบุจำนวน"
                            inputmode="decimal" class="form-control  text-center" [(ngModel)]="item.qty"
                            (ngModelChange)="calculate(i)">

                    </td>

                    <!-- price -->
                    <td class="align-top">

                        <input [readonly]="!isTextMode" type="text" mask="separator.2" thousandSeparator="," placeholder="ระบุราคา/หน่วย" 
                            decimalMarker="." inputmode="decimal" class="form-control  text-end" style="background-color: #ebeff3;"
                            [(ngModel)]="item.price" (ngModelChange)="calculate(i)">

                    </td>

                  

                    <!-- total -->
                    <td class="text-end fw-bold text-black align-top">

                        {{
                        item.total
                        | number:'1.2-2'
                        }}

                    </td>

                    <!-- reason new -->
                    <td>

                        <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="."  placeholder="ระบุจำนวนที่ขอใหม่" 
                            inputmode="decimal" class="form-control " [(ngModel)]="item.newQty"
                            (ngModelChange)="updateDetailItems()">

                        <textarea class="form-control mt-1" rows="2" placeholder="ระบุเหตุผลการขอใหม่"
                            [(ngModel)]="item.reasonNew" (ngModelChange)="updateDetailItems()">

                            </textarea>

                    </td>

                    <!-- reason replace -->
                    <td>

                        <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="."  placeholder="ระบุจำนวนที่ทดแทน" 
                            inputmode="decimal" class="form-control " [(ngModel)]="item.replaceQty"
                            (ngModelChange)="updateDetailItems()">

                        <textarea class="form-control mt-1" rows="2" placeholder="ระบุเหตุผลการทดแทน"
                            [(ngModel)]="item.reasonReplace" (ngModelChange)="updateDetailItems()">

                            </textarea>

                    </td>

                    <!-- remove -->
                    <td>

                        <button class="btn btn-danger btn-sm" (click)="removeItem(i)">

                           <i class="bx bx-trash"></i>

                        </button>

                    </td>

                </tr>

            </tbody>

            <!-- footer -->
            <tfoot>

                <tr>

                    <td colspan="6" class="text-end fw-bold">

                        รวมทั้งสิ้น

                    </td>

                    <td class="text-end fw-bold  text-white">

                        {{
                        grandTotal
                        | number:'1.2-2'
                        }}

                    </td>

                    <td colspan="3"></td>

                </tr>

            </tfoot>

        </table>

    </div>

    <!-- spec -->
    <div class="mt-3">

        <label class="fw-semibold">

            คุณสมบัติ (spec)

        </label>

        <textarea class="form-control" rows="4" [(ngModel)]="spec" (ngModelChange)="updateDetailItems()">

            </textarea>

    </div>

    <!-- action -->
    <div class="mt-3">

        <button class="btn btn-primary" (click)="addItem()">

                <i class="bx bx-plus text-black"></i>
                   <span class="text-black"> เพิ่มรายการ</span>

        </button>

        <span class="ms-2 text-danger">

            จำนวน {{ items.length }} รายการ

        </span>

    </div>

