<div class="container-fluid mt-2">

    <div class="card shadow-sm">
        <div class="card-body p-0">
      <div class="table-responsive" style="max-height:60vh; overflow-y:auto;">
    <table class="table table-bordered align-middle text-center">

        <thead class="text-white sticky-header"
                style="background-color:#556398;">

            <tr>
                <th style="width:60px">ลำดับ</th>

                <th style="width:380px">
                    ค่าใช้จ่าย
                </th>

                <th>
                    รายละเอียดค่าใช้จ่าย
                </th>

                <th style="width:140px">
                    รวมทั้งสิ้น
                </th>

                <th style="width:60px">
                    ลบ
                </th>
            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let item of meetingCosts; let i=index">

                <!-- ลำดับ -->
                <td class="fw-bold align-middle">
                    {{ i + 1 }}
                </td>

                <!-- ค่าใช้จ่าย -->
                <td class="text-start">

                    <textarea rows="2"
                              class="form-control mb-2"
                              [(ngModel)]="item.name"
                              placeholder="ระบุค่าใช้จ่าย">
                    </textarea>

                    <div *ngIf="model.Fk_Budget_Type == '3'"
                         class="d-flex gap-4 flex-wrap">

                        <div class="form-check m-0">
                            <input class="form-check-input"
                                   type="checkbox"
                                   [(ngModel)]="item.isStandard"
                                   name="standard_{{i}}">

                            <label class="form-check-label">
                                ในมาตรฐาน
                            </label>
                        </div>

                        <div class="form-check m-0">
                            <input class="form-check-input"
                                   type="checkbox"
                                   [(ngModel)]="item.isNonStandard"
                                   name="nonstandard_{{i}}">

                            <label class="form-check-label">
                                นอกมาตรฐาน
                            </label>
                        </div>

                    </div>

                </td>

                <!-- รายละเอียด -->
                <td>

                    <div class="multiplier-grid">

                        <!-- 1 -->
                        <div class="multi-item">
                            <span class="multi-no">1</span>

                            <input class="form-control text-end"
                                   [ngModel]="formatNumber(item.times)"  placeholder="ระบุจำนวน"
                                   (input)="onNumberInput($event,item,'times')">

                            <input class="form-control text-center"
                                   placeholder="ระบุหน่วยนับ"
                                   [(ngModel)]="item.Unit_Name_Times">
                        </div>

                        <!-- 2 -->
                        <div class="multi-item">
                            <span class="multi-no">2</span>

                            <input class="form-control text-end"
                                   [ngModel]="formatNumber(item.people)" placeholder="ระบุจำนวน"
                                   (input)="onNumberInput($event,item,'people')">

                            <input class="form-control  text-center"
                                   placeholder="ระบุหน่วยนับ"
                                   [(ngModel)]="item.Unit_Name_People">
                        </div>

                        <!-- 3 -->
                        <div class="multi-item">
                            <span class="multi-no">3</span>

                            <input class="form-control  text-end"
                                   [ngModel]="formatNumber(item.rate)" placeholder="ระบุจำนวน"
                                   (input)="onNumberInput($event,item,'rate')">

                            <input class="form-control  text-center"
                                   placeholder="ระบุหน่วยนับ"
                                   [(ngModel)]="item.Unit_Name_Rate">
                        </div>

                        <!-- 4 -->
                        <div class="multi-item">
                            <span class="multi-no">4</span>

                            <input class="form-control  text-end"
                                   [ngModel]="formatNumber(item.input3)" placeholder="ระบุจำนวน"
                                   (input)="onNumberInput($event,item,'input3')">

                            <input class="form-control text-center"
                                   placeholder="ระบุหน่วยนับ"
                                   [(ngModel)]="item.Unit_Name_input3">
                        </div>

                        <!-- 5 -->
                        <div class="multi-item">
                            <span class="multi-no">5</span>

                            <input class="form-control  text-end"
                                   [ngModel]="formatNumber(item.input4)" placeholder="ระบุจำนวน"
                                   (input)="onNumberInput($event,item,'input4')">

                            <input class="form-control  text-center"
                                   placeholder="ระบุหน่วยนับ"
                                   [(ngModel)]="item.Unit_Name_input4">
                        </div>

                        <!-- 6 -->
                        <div class="multi-item">
                            <span class="multi-no">6</span>

                            <input class="form-control  text-end"
                                   [ngModel]="formatNumber(item.input5)" placeholder="ระบุจำนวน"
                                   (input)="onNumberInput($event,item,'input5')">

                            <input class="form-control text-center"
                                   placeholder="ระบุหน่วยนับ"
                                   [(ngModel)]="item.Unit_Name_input5">
                        </div>

                    </div>

                </td>

                <!-- รวม -->
                <td class="text-end fw-bold align-middle">

                    {{ calcItemTotal(item)
                        ? (calcItemTotal(item) | number:'1.2-2')
                        : '0.00' }}

                </td>

                <!-- ลบ -->
                <td class="align-middle">

                    <button class="btn btn-sm btn-danger"
                            (click)="removeCost(i)">
                        🗑
                    </button>

                </td>

            </tr>

            <!-- รวมทั้งหมด -->
            <tr style="background-color:#556398;">

                <td colspan="3"
                    class="text-end text-white fw-bold">

                    รวมทั้งสิ้น

                </td>

                <td class="text-end text-white fw-bold">

                    {{ getTotal() | number:'1.2-2' }}

                </td>

                <td></td>

            </tr>

        </tbody>

    </table>

</div>


        </div>

    </div>


<div class="d-flex justify-content-between align-items-center mt-3">

    <!-- ปุ่มเพิ่มค่าใช้จ่าย (ชิดซ้าย) -->
    <button class="btn btn-success text-black"
            (click)="addCost()">
        + เพิ่มค่าใช้จ่าย
    </button>

    <!-- ปุ่มฝั่งขวา -->
    <div class="d-flex gap-2">
        <button class="btn btn-success text-black"
                (click)="save()">
            บันทึก
        </button>

        <button class="btn btn-danger text-black"
                (click)="closeModal()">
            ยกเลิก
        </button>
    </div>

</div>
    <div style="height: 30px;"></div>

</div>