<!-- ================= LEVEL 1 ================= -->
<div class="card mb-4">
    <div class="card-header fw-bold  text-white" style="background-color: #556398;">
        แผนระดับ 1
    </div>

    <div class="card-body rounded" style="background-color: #E0E8F0;">

        <!-- 1.1 -->
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                1.1 ยุทธศาสตร์ชาติที่เกี่ยวข้องโดยตรง (Z)
                <span class="text-danger">*</span>
            </h6>
        </div>

        <div class="border rounded p-3 mb-3 bg-light">

            <div class="row g-3">

                <div class="col-md-12">
                    <label class="form-label">ยุทธศาสตร์ชาติด้าน</label>

                    <ng-select  [items]="listStrategic" bindLabel="Strategic_Name" bindValue="Strategic_Id"
                        [(ngModel)]="planLevel1Main.Strategic_Id" (ngModelChange)="onChangeStrategic($event)"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">ประเด็นยุทธศาสตร์</label>

                    <ng-select  [items]="listIssue" bindLabel="Strategic_Issues_Name" bindValue="Issues_Id"
                        [(ngModel)]="planLevel1Main.Issues_Id" (ngModelChange)="onChangeIssue($event)"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">ประเด็นย่อย</label>

                    <ng-select  [items]="listSubIssue" bindLabel="Strategic_Sub_Issues_Name" bindValue="Issues_Sub_Id"
                        [(ngModel)]="planLevel1Main.Issues_Sub_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมาย</label>

                    <input class="form-control" [(ngModel)]="planLevel1Main.Target" name="l1_target">
                </div>

            </div>

        </div>


        <div [hidden]="true"> <!--ซ่อน 1.2 ไว้ก่อน -->
            <!-- ================= 1.2 ================= -->

            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="border-start border-4 border-primary ps-3 mb-4">
                    <h6 class="fw-bold text-primary">
                        1.2 ยุทธศาสตร์ชาติที่เกี่ยวข้องในระดับรอง (Z)
                    </h6>
                </div>

                <button class="btn btn-sm btn-outline-primary" (click)="addSubStrategy()">
                    + เพิ่มรายการ
                </button>
            </div>

            <div *ngFor="let item of subStrategies; let i = index" class="border rounded p-3 mb-3 bg-light">

                <div class="text-end">
                    <button class="btn btn-sm btn-danger" (click)="removeSubStrategy(i,item)">
                        <i class="bx bx-trash"></i>
                    </button>
                </div>

                <div class="row g-3">

                    <div class="col-md-4">
                        <label class="form-label">ยุทธศาสตร์ด้าน</label>
                        <select class="form-select" [(ngModel)]="item.Strategic_Id"
                            (change)="onChangeStrategicSub(item)">

                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let s of listStrategic" [ngValue]="s.Strategic_Id">
                                {{ s.Strategic_Name }}
                            </option>

                        </select>

                    </div>

                    <div class="col-md-4">
                        <label class="form-label">ประเด็นยุทธศาสตร์</label>
                        <select class="form-select" [(ngModel)]="item.Issues_Id" (change)="onChangeIssueSub(item)">

                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let s of item.listIssue" [ngValue]="s.Issues_Id">
                                {{ s.Strategic_Issues_Name }}
                            </option>

                        </select>
                    </div>

                    <!-- 🔥 ประเด็นย่อย -->
                    <div class="col-md-4">
                        <label class="form-label">ประเด็นย่อย</label>
                        <select class="form-select" [(ngModel)]="item.Issues_Sub_Id">

                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let s of item.listSubIssue" [ngValue]="s.Issues_Sub_Id">
                                {{ s.Strategic_Sub_Issues_Name }}
                            </option>

                        </select>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">เป้าหมาย</label>
                        <input type="text" class="form-control" [(ngModel)]="item.Target" name="sub_target_{{i}}">
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">
                            ความสอดคล้องของโครงการกับยุทธศาสตร์ชาติ
                        </label>
                        <textarea class="form-control" rows="3" [(ngModel)]="item.AlignmentDetail"
                            name="sub_desc_{{i}}">
      </textarea>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- ================= LEVEL 1 ================= -->


<!-- ================= LEVEL 2 ================= -->
<div class="card mb-4">
    <div class="card-header fw-bold text-white" style="background-color: #556398;">
        แผนระดับ 2
    </div>

    <!-- ================= 2.1 ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                2.1 ความสอดคล้องกับแผนแม่บทภายใต้ยุทธศาสตร์ชาติ (Y) <span class="text-danger">*</span>
            </h6>
        </div>

        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <div class="col-md-12">
                    <label class="form-label">ประเด็น</label>

                    <ng-select  [items]="listMasterPlan" bindLabel="Master_Plan_Name" bindValue="Master_Plan_Id"
                        [(ngModel)]="planLevel2.Master_Plan_Id" (ngModelChange)="onChangeMasterPlan($event)"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายระดับประเด็น (Y2)</label>

                    <ng-select  [items]="listMasterPlanGoal" bindLabel="Plan_Goals_Name" bindValue="Plan_Goals_Id"
                        [(ngModel)]="planLevel2.Plan_Goals_Id" (ngModelChange)="onChangeMasterPlanGoal($event)"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">ตัวชี้วัดเป้าหมายระดับประเด็น</label>

                    <ng-select  [items]="listMasterPlanGoalTactic" bindLabel="Plan_Tactics_Name"
                        bindValue="Plan_Tactics_Id" [(ngModel)]="planLevel2.Plan_Tactics_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">
                        ความสอดคล้องของโครงการกับเป้าหมายของแผนแม่บท (โปรดอธิบาย)
                    </label>

                    <textarea class="form-control" rows="3" [(ngModel)]="planLevel2.Description" name="l2_desc">
        </textarea>
                </div>

                <div class="col-md-12">
                    <label class="form-label">แผนย่อยของแผนแม่บทฯ</label>

                    <ng-select  [items]="listSubMasterPlan" bindLabel="Sub_Master_Plan_Name"
                        bindValue="Sub_Master_Plan_Id" [(ngModel)]="planLevel2.Subplan_Id"
                        (ngModelChange)="onChangeSubMasterPlan($event)" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายแผนแม่บทย่อย (Y1)</label>

                    <ng-select  [items]="listSubMasterPlanGoal" bindLabel="Sub_Plan_Goals_Name"
                        bindValue="Sub_Plan_Goals_Id" [(ngModel)]="planLevel2.Target_Y1_Id"
                        (ngModelChange)="onChangeTargetY1()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">
                        ความสอดคล้องของโครงการกับเป้าหมายของแผนย่อย (โปรดอธิบาย)
                    </label>

                    <textarea class="form-control" rows="3" [(ngModel)]="planLevel2.SubplanDesc" name="l2_subdesc">
        </textarea>
                </div>

                <div class="col-md-12">
                    <label class="form-label">แนวทางการพัฒนาภายใต้แผนย่อย</label>

                    <ng-select  [items]="listGuideline" bindLabel="Guidelines_Name" bindValue="Guidelines_Id"
                        [(ngModel)]="planLevel2.DevGuideline_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>
        </div>
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">สอดคล้องห่วงโซ่คุณค่า (Value Chains) ของเป้าหมายแผนย่อย</h6>
        </div>


        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <div class="col-md-6">
                    <label class="form-label">หลัก</label>

                    <ng-select  [items]="listValueChain" bindLabel="Value_Chain_Name" bindValue="Value_Chain_Id"
                        [(ngModel)]="planLevel2.ValueChain_Main_Id" (ngModelChange)="onChangeValueChainMain()"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">ปัจจัยหลัก</label>

                    <ng-select  [items]="listValueChainFactorMain" bindLabel="Factor_Name" bindValue="Factor_Id"
                        [(ngModel)]="planLevel2.ValueChain_Factor_Main_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">ส่วนสนับสนุน (ถ้ามี)</label>

                    <ng-select  [items]="listValueChain" bindLabel="Value_Chain_Name" bindValue="Value_Chain_Id"
                        [(ngModel)]="planLevel2.ValueChain_Support_Id" (ngModelChange)="onChangeValueChainSupport()"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">ปัจจัยสนับสนุน (ถ้ามี)</label>

                    <ng-select  [items]="listValueChainFactorSupport" bindLabel="Factor_Name" bindValue="Factor_Id"
                        [(ngModel)]="planLevel2.ValueChain_Factor_Support_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>
        </div>
    </div>
    <div style="height:15px"></div>

    <!-- ================= 2.2 ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                2.2 แผนพัฒนาเศรษฐกิจและสังคมแห่งชาติ <span class="text-danger">*</span>
            </h6>
        </div>

        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <div class="col-md-12">
                    <label class="form-label">หมุดหมายที่</label>

                    <ng-select  [items]="listLandmark" bindLabel="Landmark_Name" bindValue="Landmark_Id"
                        [(ngModel)]="planLevel2.Landmark_Id" (ngModelChange)="onChangeLandmark()"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายที่</label>

                    <ng-select  [items]="listLandmark_Gloals" bindLabel="Landmark_Gloals_Name"
                        bindValue="Landmark_Gloals_Id" [(ngModel)]="planLevel2.Landmark_Gloals_Id"
                        (ngModelChange)="onChangeLandmarkGloals()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">ตัวชี้วัดที่</label>

                    <ng-select  [items]="listLandmark_Tactic" bindLabel="Landmark_Tacticts_Name"
                        bindValue="Landmark_Tacticts_Id" [(ngModel)]="planLevel2.Landmark_Tacticts_Id"
                        (ngModelChange)="onChangeLandmarkTactic()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">กลยุทธ์การพัฒนาที่</label>

                    <ng-select  [items]="listMas_Landmark_Guideline" bindLabel="Landmark_Guidelines_Name"
                        bindValue="Landmark_Guidelines_Id" [(ngModel)]="planLevel2.Landmark_Guidelines_Id"
                        (ngModelChange)="onChangeStrategyMain()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">กลยุทธ์ย่อยที่</label>

                    <ng-select  [items]="listMas_Landmark_Sub_Guideline" bindLabel="Sub_Guidelines_Name"
                        bindValue="Sub_Guidelines_Id" [(ngModel)]="planLevel2.Landmark_Sub_Guidelines_Id"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>
        </div>


    </div>
    <div style="height:15px"></div>

    <!-- ================= 2.3 เพิ่มใหม่ ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">

        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                2.3 ความสอดคล้องกับแผนความมั่นคงชาติ นโยบายและแผนระดับชาติว่าด้วยความมั่นคงแห่งชาติ (พ.ศ. 2566 - 2570)
            </h6>
        </div>

        <button class="btn btn-primary btn-sm mb-3" (click)="addSecurity()">
            + เพิ่มรายการ
        </button>

        <div *ngFor="let item of model.Project_Security; let i = index" class="border rounded p-3 bg-light">

            <label class="form-label mb-1">
                ประเด็นที่สอดคล้อง {{ i + 1 }}
            </label>

            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="item.Title" name="cabinet_{{i}}">

                <button class="btn btn-danger" (click)="removeSecurity(i, item)">
                    <i class="bx bx-trash"></i>
                </button>
            </div>

        </div>

    </div>
    <div style="height:15px"></div>

</div>
<!-- ================= LEVEL 2 ================= -->


<!-- ================= LEVEL 3 ================= -->
<div class="card mb-4">
    <div class="card-header fw-bold text-white" style="background-color: #556398;">
        แผนระดับ 3
    </div>

    <div [hidden]="true">
        <!-- ================= 3.1 ================= -->
        <div class="card-body rounded" style="background-color: #E0E8F0;">
            <div class="border-start border-4 border-primary ps-3 mb-4">
                <h6 class="fw-bold text-primary mb-3 mt-4">
                    3.1 ความสอดคล้องกับนโยบายเร่งด่วนของรัฐบาล
                </h6>
            </div>

            <div class="border rounded p-3 mb-3 bg-light">
                <div class="row g-3">

                    <!-- <label class="form-label">
                                                                            1. การผลักดันให้เกิดการปรับโครงสร้างหนี้ทั้งระบบ
                                                                        </label> -->

                    <div class="col-md-4">

                        <label class="form-label">1.2</label>

                        <select class="form-select" [(ngModel)]="planLevel2.Government_Policy_Id1"
                            (change)="onChangenGovernment_Policy1()">

                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let item of listGovernment_Policy1" [ngValue]="item.Government_Policy_Id">
                                {{ item.Policy_Type_Name }}
                            </option>

                        </select>
                        <br>
                        <select class="form-select" [(ngModel)]="model.Project_Plan_Level3.Government_Policy_Sub_Id1">

                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let item of listGovernment_Policy_Sub1"
                                [ngValue]="item.Government_Policy_Sub_Id">
                                {{ item.Government_Policy_Sub_Name }}
                            </option>

                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div style="height:15px"></div>

        <!-- ================= 3.2 ================= -->
        <div class="card-body rounded" style="background-color: #E0E8F0;">
            <div class="border-start border-4 border-primary ps-3 mb-4">
                <h6 class="fw-bold text-primary mb-3 mt-4">
                    3.2 ความสอดคล้องกับนโยบายรัฐบาลระยะกลางและระยะยาว
                </h6>
            </div>

            <div class="border rounded p-3 mb-3 bg-light">
                <div class="row g-3">

                    <div class="col-md-4">


                        <select class="form-select" [(ngModel)]="model.Project_Plan_Level3.Government_Policy_Id2"
                            (change)="onChangenGovernment_Policy2()">

                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let item of listGovernment_Policy2" [ngValue]="item.Government_Policy_Id">
                                {{ item.Policy_Type_Name }}
                            </option>

                        </select>
                        <br>
                        <select class="form-select" [(ngModel)]="model.Project_Plan_Level3.Government_Policy_Sub_Id2">

                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let item of listGovernment_Policy_Sub2"
                                [ngValue]="item.Government_Policy_Sub_Id">
                                {{ item.Government_Policy_Sub_Name }}
                            </option>

                        </select>
                    </div>


                </div>
            </div>
        </div>
        <div style="height:15px"></div>

        <div style="height:15px"></div>
        <!-- ================= 3.5 ================= -->
        <div class="card-body rounded" style="background-color: #E0E8F0;">
            <div class="border-start border-4 border-primary ps-3 mb-4">
                <h6 class="fw-bold text-primary mb-3 mt-4">
                    3.5 ความสอดคล้องกับแผนงาน ปปท.
                </h6>
            </div>

            <div class="border rounded p-3 mb-3 bg-light">

                <div class="d-flex justify-content-between mb-2">
                    <select class="form-select" [(ngModel)]="model.Project_Plan_Level3.Project_Plan_Id"
                        (change)="onChangenTactic()">

                        <option [ngValue]="null" disabled>-- เลือก --</option>

                        <option *ngFor="let item of listProjectPlan" [ngValue]="item.Project_Plan_Id">
                            {{ item.Project_Plan_Name }}
                        </option>

                    </select>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">กลยุทธ์ที่</label>
                        <select (change)="onChangenMeasure()" class="form-select"
                            [(ngModel)]="model.Project_Plan_Level3.Tactics_Id" name="ppat_strategy">
                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let item of listMasTactic" [ngValue]="item.Tactics_Id">
                                {{ item.Tactics_Name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">มาตรการที่</label>
                        <select class="form-select" [(ngModel)]="model.Project_Plan_Level3.Measure_Id"
                            name="ppat_strategy">
                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let item of listMasMeasure" [ngValue]="item.Measure_Id">
                                {{ item.Measure_Name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-12">
                        <label class="form-label">ตัวชี้วัดแผนงาน</label>
                        <select class="form-select" [(ngModel)]="model.Project_Plan_Level3.Indicators_Id"
                            name="ppat_strategy">
                            <option [ngValue]="null" disabled>-- เลือก --</option>

                            <option *ngFor="let item of listMasIndicator" [ngValue]="item.Indicators_Id">
                                {{ item.Indicators_Name }}
                            </option>
                        </select>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- =================3.1 ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                3.1 ความสอดคล้องกับแผนปฏิบัติราชการ (แผน 5 ปี) <span class="text-danger">*</span>
            </h6>
        </div>

        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <div class="col-md-12">
                    <label class="form-label">ประเด็น</label>

                    <ng-select  [items]="listMasterPlan5" bindLabel="Master_Plan_Name" bindValue="Master_Plan_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Master_Plan_Id"
                        (ngModelChange)="onChangeMasterPlan5($event)" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายระดับประเด็น (Y2)</label>

                    <ng-select  [items]="listMasterPlanGoal5" bindLabel="Plan_Goals_Name" bindValue="Plan_Goals_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Plan_Goals_Id"
                        (ngModelChange)="onChangeMasterPlanGoal5($event)" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <!-- เพิ่มใหม่ -->
                <div class="col-md-12">
                    <label class="form-label">ตัวชี้วัดเป้าหมายระดับประเด็น</label>

                    <ng-select  [items]="listMasterPlanTactic5" bindLabel="Plan_Tactics_Name" bindValue="Plan_Tactics_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Plan_Tactics_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">
                        ความสอดคล้องของโครงการกับเป้าหมายของแผนแม่บท (โปรดอธิบาย)
                    </label>

                    <textarea class="form-control" rows="3" [(ngModel)]="model.Project_Plan_Level3.Description"
                        name="l2_desc">
        </textarea>
                </div>

                <div class="col-md-12">
                    <label class="form-label">แผนย่อยของแผนแม่บทฯ</label>

                    <ng-select  [items]="listSubMasterPlan5" bindLabel="Sub_Master_Plan_Name"
                        bindValue="Sub_Master_Plan_Id" [(ngModel)]="model.Project_Plan_Level3.Sub_Master_Plan_Id"
                        (ngModelChange)="onChangeSubMasterPlan5($event)" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายแผนแม่บทย่อย (Y1)</label>

                    <ng-select  [items]="listSubMasterPlanGoal5" bindLabel="Sub_Plan_Goals_Name"
                        bindValue="Sub_Plan_Goals_Id" [(ngModel)]="model.Project_Plan_Level3.Sub_Plan_Goals_Id"
                        (ngModelChange)="onChangeTargetY15($event)" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">
                        ความสอดคล้องของโครงการกับเป้าหมายของแผนย่อย (โปรดอธิบาย)
                    </label>

                    <textarea class="form-control" rows="3" [(ngModel)]="model.Project_Plan_Level3.SubplanDesc"
                        name="l2_subdesc">
        </textarea>
                </div>

                <div class="col-md-12">
                    <label class="form-label">แนวทางการพัฒนาภายใต้แผนย่อย</label>

                    <ng-select  [items]="listSubGuideline5" bindLabel="Guidelines_Name" bindValue="Guidelines_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Guidelines_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>
        </div>
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">สอดคล้องห่วงโซ่คุณค่า (Value Chains) ของเป้าหมายแผนย่อย</h6>
        </div>


        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <div class="col-md-6">
                    <label class="form-label">หลัก</label>

                    <ng-select  [items]="listValueChain5" bindLabel="Value_Chain_Name" bindValue="Value_Chain_Id"
                        [(ngModel)]="model.Project_Plan_Level3.ValueChain_Main_Id"
                        (ngModelChange)="onChangeValueChainMain5()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">ปัจจัยหลัก</label>

                    <ng-select  [items]="listValueChainFactorMain5" bindLabel="Factor_Name" bindValue="Factor_Id"
                        [(ngModel)]="model.Project_Plan_Level3.ValueChain_Factor_Main_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">ส่วนสนับสนุน (ถ้ามี)</label>

                    <ng-select  [items]="listValueChain5" bindLabel="Value_Chain_Name" bindValue="Value_Chain_Id"
                        [(ngModel)]="model.Project_Plan_Level3.ValueChain_Support_Id"
                        (ngModelChange)="onChangeValueChainSupport5()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">ปัจจัยสนับสนุน (ถ้ามี)</label>

                    <ng-select  [items]="listValueChainFactorSupport5" bindLabel="Factor_Name" bindValue="Factor_Id"
                        [(ngModel)]="model.Project_Plan_Level3.ValueChain_Factor_Support_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>
        </div>
    </div>
    <div style="height:15px"></div>

    <!-- ================= 3.2 ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                3.2 ความสอดคล้องกับแผนปฏิบัติราชการ ปปท. (แผน 5 ปี) <span class="text-danger">*</span>
            </h6>
        </div>
        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <!-- แผนงาน -->
                <div class="col-md-12">
                    <label class="form-label">แผนงานที่</label>

                    <ng-select  [items]="listProjectPlan5" bindLabel="Project_Plan_Name" bindValue="Project_Plan_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Project_Plan_Id_5"
                        (ngModelChange)="onChangeProjectPlan5()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <!-- เป้าหมาย -->
                <div class="col-md-12">
                    <label class="form-label">เป้าหมายที่</label>

                    <ng-select  [items]="listProjectPlanGoal5" bindLabel="Project_Plan_Name"
                        bindValue="Project_Plan_Goals_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Project_Plan_Goals_Id_5"
                        (ngModelChange)="onChangeGoal5()" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <!-- ตัวชี้วัด -->
                <div class="col-md-12">
                    <label class="form-label">ตัวชี้วัดที่</label>

                    <ng-select  [items]="listIndicator5" bindLabel="Indicators_Name" bindValue="Indicators_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Indicators_Id_5" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <!-- แนวทาง -->
                <div class="col-md-12">
                    <label class="form-label">แนวทางการพัฒนาที่</label>

                    <ng-select  [items]="listGuideline5" bindLabel="Project_Plan_Name" bindValue="Goals_Guidelines_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Goals_Guidelines_Id_5" placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>
        </div>
    </div>
    <div style="height:15px"></div>

    <!-- ================= 3.3 ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                3.3 ความสอดคล้องกับแผนปฏิบัติราชการ ปปท. (แผน 1 ปี) <span class="text-danger">*</span>
            </h6>
        </div>
        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <div class="col-md-12">
                    <label class="form-label">แผนงานที่</label>

                    <ng-select  [items]="listProjectPlan" bindLabel="Project_Plan_Name" bindValue="Project_Plan_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Project_Plan_Id" (ngModelChange)="onChangenTactic()"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายที่</label>

                    <ng-select  [items]="listMasProjectPlanGoal" bindLabel="Project_Plan_Name"
                        bindValue="Project_Plan_Goals_Id" [(ngModel)]="model.Project_Plan_Level3.Project_Plan_Goals_Id"
                        (ngModelChange)="onChangenMeasure()" name="ppat_strategy" placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">ตัวชี้วัดที่</label>

                    <ng-select  [items]="listMasIndicator" bindLabel="Indicators_Name" bindValue="Indicators_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Indicators_Id" name="ppat_strategy"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">แนวทางการพัฒนาที่</label>

                    <ng-select  [items]="listMasMeasure" bindLabel="Measure_Name" bindValue="Measure_Id"
                        [(ngModel)]="model.Project_Plan_Level3.Measure_Id" name="ppat_strategy"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>
        </div>
        <div [hidden]="true">
            <div class="border rounded p-3 mb-3 bg-light">
                <div class="row g-3">

                    <div *ngFor="let item of listActionPlan; let i = index" class="form-check">

                        <input class="form-check-input" type="radio" [name]="'actionPlanGroup'"
                            [(ngModel)]="model.Project_Plan_Level3.Action_Plan_Id" [value]="item.Action_Plan_Id"
                            id="action_{{i}}">

                        <label class="form-check-label" for="action_{{i}}">
                            {{ item.Action_Plan_Name }}
                        </label>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- ================= LEVEL 3 ================= -->


<!-- ================= LEVEL 4 ================= -->
<div class="card mb-4">
    <div class="card-header fw-bold text-white" style="background-color: #556398;">
        แผนระดับอื่นๆ ที่เกี่ยวข้อง
    </div>

    <!-- ================= 4.1 ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">4.1 ความสอดคล้องกับเป้าหมาย SDGs</h6>
        </div>

        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3">

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายหลัก SDGs</label>

                    <ng-select  [items]="listSDGsGoal" bindLabel="SDGs_Gloals_Name" bindValue="SDGs_Gloals_Id"
                        [(ngModel)]="planLevel2.SDGs_Gloals_Id" (ngModelChange)="onChangeSDGsGoal()"
                        placeholder="-- เลือก --">
                    </ng-select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมายย่อย SDGs</label>

                    <ng-select  [items]="listSDGsTarget" bindLabel="SDGs_Targets_Name" bindValue="SDGs_Targets_Id"
                        [(ngModel)]="planLevel2.SDGs_Targets_Id" placeholder="-- เลือก --">
                    </ng-select>
                </div>

            </div>

        </div>
    </div>
    <div style="height:15px"></div>

    <!-- ================= 4.2 ================= -->
    <div class="card-body rounded" style="background-color: #E0E8F0;">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                4.2 มติคณะรัฐมนตรีที่เกี่ยวข้อง
            </h6>
        </div>

        <button class="btn btn-primary btn-sm mb-3" (click)="addCabinet()">
            + เพิ่มรายการ
        </button>

        <div *ngFor="let item of model.Project_Cabinet; let i = index"
            class="input-group mb-2 border rounded p-3 bg-light">

            <input type="text" class="form-control" [(ngModel)]="item.Title" name="cabinet_{{i}}">

            <button class="btn btn-danger" (click)="removeCabinet(i,item)">
                <i class="bx bx-trash"></i>
            </button>

        </div>
    </div>
    <div style="height:15px"></div>
</div>
<!-- ================= LEVEL 4 ================= -->