<div class="container-fluid px-4">

    <div class="bg-white p-3 rounded shadow-sm border">

        <div class="d-flex justify-content-between align-items-center mb-3">

            <div>

                <h5 class="fw-bold">
                    โอนเปลี่ยนแปลงงบประมาณ
                </h5>

            </div>

            <div class="d-flex align-items-center gap-2">

                <label>
                    ค้นหา
                </label>

                <input class="form-control" style="width:200px" [(ngModel)]="keyword">

                <button class="btn btn-success" (click)="openAdd(formModal)">

                    เพิ่มรายการ

                </button>

            </div>

        </div>

        <table class="table table-bordered text-center align-middle">

            <thead class="table-secondary">

                <tr>

                    <th>
                        ลำดับ
                    </th>

                    <th>
                        วันที่ทำรายการ
                    </th>

                    <th>
                        ครั้งที่โอน
                    </th>

                    <th>
                        หน่วยงานต้นทาง
                    </th>

                    <th>
                        โครงการต้นทาง
                    </th>

                    <th>
                        หน่วยงานปลายทาง
                    </th>

                    <th>
                        โครงการปลายทาง
                    </th>

                    <th>
                        จำนวนเงิน
                    </th>

                    <th>
                        แก้ไข
                    </th>

                    <th>
                        ลบ
                    </th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let row of filteredRows; let i = index">
                    <td>
                        {{ i + 1 }}
                    </td>

                    <td>
                        {{ row.Transfer_Date_Display }} </td>

                    <td>
                        {{ row.Transfer_Count }}
                    </td>

                    <td>
                        {{ row.From_Department_Name }}
                    </td>

                    <td>
                        {{ row.From_Plan_Name }}
                    </td>

                    <td>
                        {{ row.To_Department_Name }}
                    </td>

                    <td>
                        {{ row.To_Plan_Name }}
                    </td>

                    <td class="text-end">

                        {{
                        row.Transfer_Amount
                        | number:'1.2-2'
                        }}

                    </td>

                    <td>

                        <button class="btn btn-warning btn-sm" (click)="openEdit(formModal, row, i)">

                            <i class="ri-pencil-line"></i>

                        </button>

                    </td>

                    <td>

                        <button class="btn btn-danger btn-sm" (click)="remove(row)">

                            <i class="ri-delete-bin-line"></i>

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

        <ng-template #formModal let-modal>

            <div class="modal-header bg-light">

                <h5 class="modal-title">

                    {{
                    isEdit
                    ? 'แก้ไขข้อมูลการโอนงบประมาณ'
                    : 'เพิ่มข้อมูลการโอนงบประมาณ'
                    }}

                </h5>

                <button class="btn-close" (click)="modal.dismiss()">

                </button>

            </div>

            <div class="modal-body">

                <div class="container-fluid">

                    <div class="mb-3">

                        <span class="badge bg-warning text-dark">
                            ข้อมูลต้นทาง
                        </span>

                        <div class="row mt-2">

                            <div class="col-md-6">

                                <label>
                                    โอนจากหน่วยงาน :
                                </label>

                                <ng-select [items]="departments" bindLabel="Department_Name" bindValue="Department_Id"
                                    [(ngModel)]="form.From_Department_Id" (change)="onChangeFromDepartment()"
                                    appendTo="body" placeholder="-- เลือกหน่วยงาน --">

                                </ng-select>

                            </div>

                            <div class="col-md-6">

                                <label>
                                    โอนจากโครงการ :
                                </label>

                                <ng-select [items]="plans" bindLabel="Project_Name" bindValue="Project_Id"
                                    [(ngModel)]="form.From_Plan_Id" (change)="onChangeFromPlan()" appendTo="body"
                                    placeholder="-- เลือกโครงการ --">

                                </ng-select>

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    จำนวนเงินโครงการ :
                                </label>

                                <ng-container *ngIf="!isEdit; else viewBudget">

                                    <input type="number" class="form-control" [(ngModel)]="form.projectBudget">

                                </ng-container>

                                <ng-template #viewBudget>

                                    <span class="ms-2">

                                        {{
                                        form.projectBudget || 0
                                        | number:'1.2-2'
                                        }}

                                        บาท

                                    </span>

                                </ng-template>

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    จำนวนเงินคงเหลือ :
                                </label>

                                <ng-container *ngIf="!isEdit; else viewBalance">

                                    <input type="number" class="form-control" [(ngModel)]="form.balance">

                                </ng-container>

                                <ng-template #viewBalance>

                                    <span class="ms-2">

                                        {{
                                        form.balance || 0
                                        | number:'1.2-2'
                                        }}

                                        บาท

                                    </span>

                                </ng-template>

                            </div>

                        </div>

                    </div>

                    <hr>

                    <div>

                        <span class="badge bg-warning text-dark">
                            ข้อมูลการโอนงบประมาณ
                        </span>

                        <div class="row mt-3">

                            <div class="col-md-6">

                                <label>
                                    วันที่ทำรายการ :
                                </label>

                                <input type="date" class="form-control" [(ngModel)]="form.Transfer_Date">

                            </div>

                            <div class="col-md-6">

                                <label>
                                    ครั้งที่โอน :
                                </label>

                                <input class="form-control" [(ngModel)]="form.Transfer_Count">

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    วันที่เอกสาร :
                                </label>

                                <input type="date" class="form-control" [(ngModel)]="form.Transfer_Doc_Date">

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    เลขที่เอกสาร :
                                </label>

                                <input class="form-control" [(ngModel)]="form.Transfer_Doc_Number">

                            </div>

                            <div class="col-md-12 mt-2">

                                <label>
                                    รายละเอียดการโอน :
                                </label>

                                <textarea rows="3" class="form-control" [(ngModel)]="form.Transfer_Description">

                                </textarea>

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    โอนไปหน่วยงาน :
                                </label>

                                <ng-select [items]="departments" bindLabel="Department_Name" bindValue="Department_Id"
                                    [(ngModel)]="form.To_Department_Id" (change)="onChangeToDepartment()"
                                    appendTo="body" placeholder="-- เลือกหน่วยงาน --">

                                </ng-select>

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    โอนไปโครงการ :
                                </label>

                                <ng-select [items]="plans" bindLabel="Project_Name" bindValue="Project_Id"
                                    [(ngModel)]="form.To_Plan_Id" (change)="onChangeToPlan()" appendTo="body"
                                    placeholder="-- เลือกโครงการ --">

                                </ng-select>

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    จำนวนเงินที่โอน :
                                </label>

                                <input type="number" class="form-control" [(ngModel)]="form.Transfer_Amount">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button class="btn btn-primary" (click)="save(); modal.close()">

                    บันทึก

                </button>

                <button class="btn btn-danger" (click)="modal.dismiss()">

                    ยกเลิก

                </button>

            </div>

        </ng-template>

    </div>

</div>