<div class="container-fluid px-4">

    <div class="bg-white p-3 rounded shadow-sm border">

        <div class="d-flex justify-content-between align-items-center mb-3">

            <div>

                <h5 class="fw-bold">
                    โอนเปลี่ยนแปลงงบประมาณ
                </h5>

                <div class="d-flex align-items-center gap-2 mt-2">

                    <label class="mb-0 text-nowrap">
                        หน่วยงาน
                    </label>

                    <input class="form-control" style="width: 400px;" [(ngModel)]="department">

                </div>

            </div>

            <div class="d-flex align-items-center gap-2">

                <label>
                    ค้นหา
                </label>

                <input class="form-control" style="width:200px" [(ngModel)]="keyword">

                <button class="btn btn-success" (click)="openAdd(formModal)">

                    เพิ่มรายการ

                </button>

            </div>

        </div>

        <table class="table table-bordered text-center align-middle">

            <thead class="table-secondary">

                <tr>

                    <th>
                        ลำดับ
                    </th>

                    <th>
                        วันที่โอน
                    </th>

                    <th>
                        หน่วยงานที่โอน
                    </th>

                    <th>
                        โครงการที่โอน
                    </th>

                    <th>
                        หน่วยงานที่รับโอน
                    </th>

                    <th>
                        จำนวนเงินโอน
                    </th>

                    <th>
                        แก้ไข
                    </th>

                    <th>
                        ลบ
                    </th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let row of rows; let i = index">

                    <td>
                        {{ i + 1 }}
                    </td>

                    <td>
                        {{ row.Transfer_Date }}
                    </td>

                    <td>
                        {{ row.From_Department_Name }}
                    </td>

                    <td>
                        {{ row.From_Plan_Name }}
                    </td>

                    <td>
                        {{ row.To_Department_Name }}
                    </td>

                    <td class="text-end">

                        {{
                        row.Transfer_Amount
                        | number:'1.2-2'
                        }}

                    </td>

                    <td>

                        <button class="btn btn-warning btn-sm" (click)="openEdit(formModal, row, i)">

                            ✏️

                        </button>

                    </td>

                    <td>

                        <button class="btn btn-danger btn-sm" (click)="remove(i)">

                            🗑

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

        <ng-template #formModal let-modal>

            <div class="modal-header bg-light">

                <h5 class="modal-title">

                    {{
                    isEdit
                    ? 'แก้ไข ข้อมูลการโอนงบประมาณ'
                    : 'เพิ่ม ข้อมูลการโอนงบประมาณ'
                    }}

                </h5>

                <button class="btn-close" (click)="modal.dismiss()">

                </button>

            </div>

            <div class="modal-body">

                <div class="container-fluid">

                    <div class="mb-3">

                        <span class="badge bg-warning text-dark">
                            ข้อมูลงบประมาณ
                        </span>

                        <div class="row mt-2">

                            <div class="col-md-6">

                                <label>
                                    โอนจากหน่วยงาน :
                                </label>

                                <input class="form-control" [(ngModel)]="form.From_Department_Name">

                            </div>

                            <div class="col-md-6">

                                <label>
                                    โอนจากโครงการ :
                                </label>

                                <input class="form-control" [(ngModel)]="form.From_Plan_Name">

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    รหัสหน่วยงาน :
                                </label>

                                <input type="number" class="form-control" [(ngModel)]="form.From_Department_Id">

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    รหัสโครงการ :
                                </label>

                                <input type="number" class="form-control" [(ngModel)]="form.From_Plan_Id">

                            </div>

                        </div>

                    </div>

                    <hr>

                    <div>

                        <span class="badge bg-warning text-dark">
                            ข้อมูลการโอนงบประมาณ
                        </span>

                        <div class="row mt-3">

                            <div class="col-md-6">

                                <label>
                                    วันที่ทำรายการ :
                                </label>

                                <input type="date" class="form-control" [(ngModel)]="form.Transfer_Date">

                            </div>

                            <div class="col-md-6">

                                <label>
                                    ครั้งที่โอน :
                                </label>

                                <input class="form-control" [(ngModel)]="form.Transfer_Count">

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    วันที่เอกสาร :
                                </label>

                                <input type="date" class="form-control" [(ngModel)]="form.Transfer_Doc_Date">

                            </div>

                            <div class="col-md-6 mt-2">

                                <label>
                                    เลขที่เอกสาร :
                                </label>

                                <input class="form-control" [(ngModel)]="form.Transfer_Doc_Number">

                            </div>

                            <div class="col-md-12 mt-2">

                                <label>
                                    รายละเอียดการโอน :
                                </label>

                                <textarea class="form-control" [(ngModel)]="form.Transfer_Description">

                                </textarea>

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    โอนไปหน่วยงาน :
                                </label>

                                <input class="form-control" [(ngModel)]="form.To_Department_Name">

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    โอนไปโครงการ :
                                </label>

                                <input class="form-control" [(ngModel)]="form.To_Plan_Name">

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    รหัสหน่วยงานปลายทาง :
                                </label>

                                <input type="number" class="form-control" [(ngModel)]="form.To_Department_Id">

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    รหัสโครงการปลายทาง :
                                </label>

                                <input type="number" class="form-control" [(ngModel)]="form.To_Plan_Id">

                            </div>

                            <div class="col-md-6 mt-3">

                                <label>
                                    จำนวนเงินที่โอน :
                                </label>

                                <div class="d-flex">

                                    <input type="number" class="form-control w-50" [(ngModel)]="form.Transfer_Amount">

                                    <span class="ms-2 align-self-center">
                                        บาท
                                    </span>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button class="btn btn-primary" (click)="save(); modal.close()">

                    บันทึก

                </button>

                <button class="btn btn-danger" (click)="modal.dismiss()">

                    ยกเลิก

                </button>

            </div>

        </ng-template>

    </div>

</div>