<!-- table -->
<div class="expense-table-responsive">

    <table class="table table-bordered align-middle expense-table text-center mb-0">

        <!-- header -->
        <thead class="text-center text-white expense-table-header">

            <tr>

                <th rowspan="2" width="5%">
                    ลำดับ
                </th>

                <th rowspan="2" width="20%">
                    รายการ
                </th>

                <th rowspan="2" width="10%">
                    ประเภทผูกพัน
                </th>

                <th rowspan="2" width="8%">
                    ปีที่เริ่มต้น
                </th>
                <th rowspan="2" width="10%">
                    จำนวน
                </th>

                <th rowspan="2" width="10%">
                    ราคา/หน่วย
                </th>


                <th rowspan="2" width="12%">
                    วงเงินรวม
                </th>

                <th colspan="2" width="20%">
                    เหตุผล
                </th>

                <th rowspan="2" width="5%">ลบ</th>

            </tr>

            <tr>

                <th>
                    สร้างใหม่
                </th>

                <th>
                    ปรับปรุง
                </th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let item of items; let i=index">

                <!-- index -->
                <td>
                    {{i+1}}
                </td>

                <!-- รายการ -->
                <td>

                    <input class="form-control" [(ngModel)]="item.name" placeholder="ระบุรายการ"
                        (ngModelChange)="updateDetailItems()">

                </td>

                <td>

                    <div class="d-grid" style="grid-template-columns: 1fr 1fr; gap: 8px;">
                        <label class="border rounded px-2 py-1 mb-0 text-center">
                            <input type="radio" [name]="'construction_binding_' + i"
                                [checked]="item.bindingType === 'new'"
                                (change)="onBindingTypeChange(item, 'new')">
                            ผูกพันใหม่
                        </label>

                        <label class="border rounded px-2 py-1 mb-0 text-center">
                            <input type="radio" [name]="'construction_binding_' + i"
                                [checked]="item.bindingType === 'old'"
                                (change)="onBindingTypeChange(item, 'old')">
                            ผูกพันเดิม
                        </label>
                    </div>

                </td>

                <!-- ระยะเวลา -->
                <td>

                    <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                        placeholder="ระบุปี" class="form-control  text-center" [(ngModel)]="item.year"
                        (ngModelChange)="onBaseYearChange()">

                </td>
                <!-- จำนวน -->
                <td>

                    <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                        placeholder="ระบุจำนวน" class="form-control  text-center" [(ngModel)]="item.qty"
                        (ngModelChange)="calculate(i)">

                </td>
                <!-- ราคา -->
                <td>

                    <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                        placeholder="ระบุราคา/หน่วย" class="form-control  text-end" [(ngModel)]="item.price"
                        (ngModelChange)="calculate(i)">

                </td>



                <!-- รวม -->
                <td class="text-end fw-bold text-black">

                    {{item.total | number:'1.2-2'}}

                </td>

                <!-- สร้างใหม่ -->
                <td>

                    <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                        placeholder="ระบุจำนวนสร้างใหม่" class="form-control  text-center" [(ngModel)]="item.newQty"
                        (ngModelChange)="updateDetailItems()">

                </td>

                <!-- ปรับปรุง -->
                <td>

                    <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                        placeholder="ระบุจำนวนปรับปรุง" class="form-control text-center" [(ngModel)]="item.updateQty"
                        (ngModelChange)="updateDetailItems()">

                </td>

                <!-- delete -->
                <td>

                    <button class="btn btn-danger btn-sm" (click)="removeItem(i)">

                        <i class="bx bx-trash"></i>

                    </button>

                </td>

            </tr>

        </tbody>

        <!-- FOOTER -->
        <tfoot>

            <tr>

                <td colspan="6" class="text-end fw-bold">
                    รวมทั้งสิ้น
                </td>

                <td class="text-end fw-bold text-white">

                    {{grandTotal | number:'1.2-2'}}

                </td>

                <td colspan="3"></td>

            </tr>

        </tfoot>

    </table>

</div>

<!-- BINDING YEAR -->
<div class="mt-4">

    <label class="fw-semibold">
        ระยะผูกพัน
    </label>

<div class="col-md-4 mt-2">

    <label *ngFor="let y of [1,2,3,4,5]" class="me-3">

        <input
            type="radio"
            name="bindingYear"
            [value]="y"
            [(ngModel)]="bindingYear"
            (change)="onYearChange()">

        {{ y }} ปี

    </label>

</div>

</div>

<!-- YEARLY -->
<div class="mt-4" *ngIf="bindingYear">

    <label class="fw-semibold">
        กระจายเงิน / งวดงาน
    </label>

    <div class="row mt-2 align-items-center" *ngFor="let y of yearly; let i=index">

        <div class="col-md-1">

            ปีงบประมาณ {{ yearly[i].year || '-' }}

        </div>

        <!-- amount -->
        <div class="col-md-2">

            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                class="form-control  text-end" [(ngModel)]="yearly[i].amount" (ngModelChange)="onYearlyAmountChange(i)"
                placeholder="จำนวนเงิน">

        </div>

        <!-- milestone -->
        <div class="col-md-2">

            <input class="form-control" [(ngModel)]="yearly[i].milestone" (ngModelChange)="updateDetailItems()"
                placeholder="จำนวนงวด">

        </div>
           <div class="col-md-7"></div>

    </div>

    <div class="row mt-2 align-items-center fw-bold">

        <div class="col-md-1">
            รวมทั้งสิ้น
        </div>

        <div class="col-md-2 text-end" [class.text-danger]="yearlyTotal > grandTotal">
            {{ yearlyTotal | number:'1.2-2' }}
        </div>

        <div class="col-md-1 text-danger" *ngIf="yearlyTotal > grandTotal">
            ยอดรวมต้องไม่เกินวงเงินรวม
        </div>

    </div>

</div>

<!-- SPEC -->
<div class="mt-4">

    <label class="fw-semibold">
        คุณสมบัติ (spec)
    </label>

    <textarea rows="4" class="form-control" [(ngModel)]="spec" (ngModelChange)="updateDetailItems()">

            </textarea>

</div>

<!-- ATTACHMENT -->
<div class="row mt-4" *ngIf="model">

    <div class="col-6" *ngFor="let file of attachmentConfig; let i = index">

        <app-expense-attachment [model]="model"
            [title]="(i + 1) + '. ' + file.label + (file.required ? ' (บังคับ)' : ' (ไม่บังคับ)')"
            filterField="TYPE_ID" [filterValue]="file.typeId" [horizontal]="true">

        </app-expense-attachment>

    </div>

</div>

<!-- BUTTON -->
<!-- <div class="mt-4 d-flex justify-content-between align-items-center">

    <div>

        <button class="btn btn-primary btn-sm" (click)="addItem()">

            + เพิ่มรายการ

        </button>

        <span class="ms-2 text-danger">

            จำนวน {{items.length}} รายการ

        </span>

    </div>

</div> -->
