<div class="modal-header">
    <h5 class="modal-title">กำหนดแผนงาน</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>

<div class="modal-body">

    <div class="row mb-3">

        <div class="col-md-4">
            <label class="form-label">แผนงาน</label>

            <ng-select [items]="Mas_Plan_Lists" bindLabel="Plan_Name" [(ngModel)]="model.selectedPlan"
                name="selectedPlan" (ngModelChange)="Onchange_type_Plan()" placeholder="-- เลือก --">
            </ng-select>
        </div>

        <div class="col-md-4">
            <label class="form-label">ผลผลิต</label>

            <ng-select [items]="Mas_Product" bindLabel="Product_Name" [(ngModel)]="model.selectedProduct"
                name="selectedProduct" (ngModelChange)="Onchange_type_Product()" placeholder="-- เลือก --">
            </ng-select>
        </div>

        <div class="col-md-4">
            <label class="form-label">กิจกรรม</label>

            <ng-select [items]="Mas_Activity" bindLabel="Activity_Name" [(ngModel)]="model.selectedActivity"
                name="selectedActivity" placeholder="-- เลือก --">
            </ng-select>
        </div>

    </div>

    <div class="row mb-3">

        <div class="col-md-4">
            <label class="form-label">หมวดงบ</label>

            <ng-select [items]="Mas_Budget_Types" bindLabel="Budget_Type_Name" bindValue="Budget_Type_Id" [(ngModel)]="model.selectedBudget"
                name="selectedBudget" [disabled]="Mas_Budget_Types.length === 1" placeholder="-- เลือก --">
            </ng-select>
        </div>

        <div class="col-md-4">
            <label class="form-label">หมวดค่าใช้จ่าย</label>

            <ng-select [items]="Mas_Expense_Group" bindLabel="Expense_Group_Name" bindValue="Expense_Group_Id"
                name="selectedGroup" [(ngModel)]="model.selectedGroup" placeholder="-- เลือก --">
            </ng-select>
        </div>

        <div class="col-md-4">
            <label class="form-label">รายการค่าใช้จ่าย</label>

            <ng-select [items]="expenseOptions" bindLabel="Expense_Name" bindValue="Expense_Id"
                [(ngModel)]="model.selectedExpenseTypeId" (ngModelChange)="onExpenseChange($event)"
                placeholder="-- กรุณาเลือกรายการค่าใช้จ่าย --">
            </ng-select>
        </div>

    </div>
    <div class="row mb-3">
        <div class="col d-flex align-items-center">

            <span class="fw-bold">เป้าหมาย</span>

            <button class="btn btn-primary btn-sm ms-2" (click)="openTargetModal(targetModal)">
                กำหนดเป้าหมาย
            </button>

        </div>
    </div>
    <!-- ตารางเป้าหมาย -->
    <ng-template #targetModal let-modal>

        <div class="modal-header">
            <h5 class="modal-title">กำหนดเป้าหมาย</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
        </div>

        <div class="modal-body">

            <!-- header -->
            <div class="row align-items-end mb-3">

                <div class="col-md-1">
                    <label class="form-label">โปรดระบุ</label>

                </div>

                <div class="col-md-3">
                    <label class="form-label">หน่วยนับ</label>
                    <input class="form-control form-control-sm" [(ngModel)]="unit">
                </div>

                <div class="col-md-4 d-flex align-items-center gap-2 mt-3">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="isIndicator">
                    <label class="form-check-label">เป้าหมายสำนักงบ</label>
                </div>

            </div>


            <!-- table -->
            <div class="table-responsive">

                <table class="table table-bordered text-center align-middle">

                    <tbody>

                        <!-- Q1 -->
                        <tr>
                            <td class="fw-bold text-start" style="width:120px">ไตรมาส 1</td>

                            <td>
                                <small>ต.ค.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].oct">
                            </td>

                            <td>
                                <small>พ.ย.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].nov">
                            </td>

                            <td>
                                <small>ธ.ค.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].dec">
                            </td>
                        </tr>

                        <!-- Q2 -->
                        <tr>
                            <td class="fw-bold text-start">ไตรมาส 2</td>

                            <td>
                                <small>ม.ค.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].jan">
                            </td>

                            <td>
                                <small>ก.พ.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].feb">
                            </td>

                            <td>
                                <small>มี.ค.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].mar">
                            </td>
                        </tr>

                        <!-- Q3 -->
                        <tr>
                            <td class="fw-bold text-start">ไตรมาส 3</td>

                            <td>
                                <small>เม.ย.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].apr">
                            </td>

                            <td>
                                <small>พ.ค.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].may">
                            </td>

                            <td>
                                <small>มิ.ย.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].jun">
                            </td>
                        </tr>

                        <!-- Q4 -->
                        <tr>
                            <td class="fw-bold text-start">ไตรมาส 4</td>

                            <td>
                                <small>ก.ค.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].jul">
                            </td>

                            <td>
                                <small>ส.ค.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].aug">
                            </td>

                            <td>
                                <small>ก.ย.</small>
                                <input type="number" class="form-control form-control-sm"
                                    [(ngModel)]="targetList[0].sep">
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

        <div class="modal-footer">

            <button class="btn btn-light" (click)="modal.dismiss()">
                ยกเลิก
            </button>

            <button class="btn btn-success" (click)="modal.close(targetList)">
                💾 บันทึก
            </button>

        </div>

    </ng-template>

</div>

@if (model.selectedExpenseTypeId) {

<div class="card shadow-sm bg-light">


    <div class="modal-header">
        <h5 class="card-title">
            {{ formTitle }}
        </h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    @if([1,2,3,4,5,6,7,8,10,11,12,14,15,16].includes(model.selectedExpenseTypeId)){
    <app-expense-list-salary [model]="model" [expenseItem]="expenseItem">
    </app-expense-list-salary>
    }
    @else if(model.selectedExpenseTypeId == 9){
    <app-expense-rent-house [model]="model" [expenseItem]="expenseItem">
    </app-expense-rent-house>
    }@else if(model.selectedExpenseTypeId == 13){
    <app-expense-ot [model]="model" [expenseItem]="expenseItem">
    </app-expense-ot>
    }@else if(model.selectedExpenseTypeId == 17){
    <app-expense-meeting-support [model]="model" [expenseItem]="expenseItem">
    </app-expense-meeting-support>
    }
    @else if(model.selectedExpenseTypeId == 18){
    <app-expense-meeting-litigation [model]="model" [expenseItem]="expenseItem">
    </app-expense-meeting-litigation>
    }@else if(model.selectedExpenseTypeId == 19){
    <app-expense-committee [model]="model" [expenseItem]="expenseItem">
    </app-expense-committee>
    }@else if(model.selectedExpenseTypeId == 20){
    <app-expense-car-allowance [model]="model" [expenseItem]="expenseItem">
    </app-expense-car-allowance>
    }
    @else if(model.selectedExpenseTypeId == 21){
    <app-expense-travel [model]="model" [expenseItem]="expenseItem">
    </app-expense-travel>
    }@else if(model.selectedExpenseTypeId == 22){
    <app-expense-training-seminar [model]="model" [expenseItem]="expenseItem">
    </app-expense-training-seminar>
    }@else if([23].includes(model.selectedExpenseTypeId)){
    <app-expense-office-rent [model]="model" [expenseItem]="expenseItem">
    </app-expense-office-rent>
    }@else if(model.selectedExpenseTypeId == 24){
    <app-expense-copier-rent [model]="model" [expenseItem]="expenseItem">
    </app-expense-copier-rent>
    }@else if ([25,26,27,28,29,30,31].includes(model.selectedExpenseTypeId)) {
    <app-expense-service-contract [model]="model" [expenseItem]="expenseItem">
    </app-expense-service-contract>
    }@else if ([32].includes(model.selectedExpenseTypeId)) {
    <app-expense-other [model]="model" [expenseItem]="expenseItem">
    </app-expense-other>
    }@else if(model.selectedExpenseTypeId == 33){
    <app-expense-vehicle-repair [model]="model" [expenseItem]="expenseItem">
    </app-expense-vehicle-repair>
    }@else if(model.selectedExpenseTypeId == 34){
    <app-expense-repair-construction [model]="model" [expenseItem]="expenseItem">
    </app-expense-repair-construction>
    }@else if(model.selectedExpenseTypeId == 35){
    <app-expense-equipment-repair [model]="model" [expenseItem]="expenseItem">
    </app-expense-equipment-repair>
    }@else if(model.selectedExpenseTypeId == 36){
    <app-expense-advertising [model]="model" [expenseItem]="expenseItem">
    </app-expense-advertising>
    }@else if(model.selectedExpenseTypeId == 37){
    <app-expense-ceremonial [model]="model" [expenseItem]="expenseItem">
    </app-expense-ceremonial>
    }@else if(model.selectedExpenseTypeId == 38){
    <app-expense-witness [model]="model" [expenseItem]="expenseItem">
    </app-expense-witness>
    }@else if(model.selectedExpenseTypeId == 39){
    <app-expense-section61 [model]="model" [expenseItem]="expenseItem">
    </app-expense-section61>
    }@else if(model.selectedExpenseTypeId == 40){
    <app-expense-other-operating-cost [model]="model" [expenseItem]="expenseItem">
    </app-expense-other-operating-cost>
    }@else if(model.selectedExpenseTypeId == 42){
    <app-expense-fuel-lubricant [model]="model" [expenseItem]="expenseItem">
    </app-expense-fuel-lubricant>
    } @else if([41,43,44,45,46,47,48].includes(model.selectedExpenseTypeId)){
    <app-expense-office-supplies-cost [model]="model" [expenseItem]="expenseItem">
    </app-expense-office-supplies-cost>
    } @else if([49,50,51,52,53].includes(model.selectedExpenseTypeId)){
    <app-expense-utility-and-telecom-cost [model]="model" [expenseItem]="expenseItem">
    </app-expense-utility-and-telecom-cost>
    }@else if(model.selectedExpenseTypeId == 54){
    <app-expense-system-maintenance-cost [model]="model" [expenseItem]="expenseItem">
    </app-expense-system-maintenance-cost>
    }@else if(model.selectedExpenseTypeId == 55){
    <app-expense-car-rental-cost [model]="model" [expenseItem]="expenseItem">
    </app-expense-car-rental-cost>
    }@else if(model.selectedExpenseTypeId == 44){
    <app-expense-computer-material-cost [model]="model" [expenseItem]="expenseItem">
    </app-expense-computer-material-cost>
    }@else if([56,57,58,59,60,61,62,63].includes(model.selectedExpenseTypeId)){
    <app-expense-asset-investment-form [model]="model" [expenseItem]="expenseItem"
        [type]="mapExpenseType(model.selectedExpenseTypeId)">
    </app-expense-asset-investment-form>
    }@else if([65,66].includes(model.selectedExpenseTypeId)){
    <app-expense-construction-form [model]="model" [expenseItem]="expenseItem">
    </app-expense-construction-form>
    }@else if([67].includes(model.selectedExpenseTypeId)){
    <app-expense-foreign-travel [model]="model" [expenseItem]="expenseItem">
    </app-expense-foreign-travel>
    }@else if([68].includes(model.selectedExpenseTypeId)){
    <app-expense-witness-protection [model]="model" [expenseItem]="expenseItem">
    </app-expense-witness-protection>
    }@else if([69,75].includes(model.selectedExpenseTypeId)){
    <app-expense-consultant-hire [model]="model" [expenseItem]="expenseItem">
    </app-expense-consultant-hire>
    } @else if([72,71].includes(model.selectedExpenseTypeId)){
    <app-expense-grant-form [model]="model" [expenseItem]="expenseItem">
    </app-expense-grant-form>
    }@else if ([64,70,73,74,75].includes(model.selectedExpenseTypeId)) {
    <projectPlanning>
    </projectPlanning>
    }



    <div class="modal-footer">

        <button class="btn btn-light" (click)="closeModal()">
            ยกเลิก
        </button>

        <button class="btn btn-success" (click)="save()">
            💾 บันทึก
        </button>

    </div>

</div>
}