
    <div class="card-body p-0">

      <div class="expense-table-responsive">

        <table class="table table-bordered align-middle expense-table text-center mb-0">

          <thead class="text-center text-white expense-table-header">

            <tr>

              <th style="width:20%">
                รายการทรัพย์สิน
              </th>

              <th style="width:12%">
                ขนาดพื้นที่ (ตรม.)
              </th>

              <th style="width:12%">
                ราคาค่าเช่า/ตรม.
              </th>

              <th style="width:12%">
                ราคาค่าเช่า/เดือน
              </th>

              <th style="width:12%">
                ราคาค่าเช่า/ปี
              </th>

              <th style="width:20%">
                วัตถุประสงค์
              </th>

              <th style="width:5%">ลบ</th>

            </tr>

          </thead>

          <tbody>

            <tr *ngFor="let item of rentList; let i=index">

              <!-- asset -->
              <td>

                <input class="form-control" [(ngModel)]="item.asset" (ngModelChange)="updateDetailItems()"
                  placeholder="ระบุรายการทรัพย์สิน">

              </td>

              <!-- area -->
              <td>

                <!-- <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control text-end" [(ngModel)]="item.area"
                  (ngModelChange)="calculate(item)"> -->
                <input type="text" class="form-control text-center" [(ngModel)]="item.area"    placeholder="ขนาดพื้นที่ (ตรม.)">
              </td>


              <!-- rate -->
              <td>

                <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"    placeholder="ระบุค่าเช่า/ตรม."
                class="form-control text-end" [value]="item.pricePerSqm" (input)="formatInput($event, item, 'pricePerSqm');">

              </td>

              <!-- month -->
              <td>

                <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"    placeholder="ระบุค่าเช่า/ปี"
                class="form-control text-end" [value]="item.monthlyRent"
                  (input)="formatInput($event, item, 'monthlyRent'); calculateYear(item)">

              </td>

              <!-- year -->
              <td>

                <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" readonly  style="background-color: #ebeff3;"
                class="form-control text-end" [value]="item.yearlyRent"
                  (input)="formatInput($event, item, 'yearlyRent'); calculateGrand(); updateDetailItems()">

              </td>
              <!-- rate -->
              <!-- <td>

                <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control text-end" [(ngModel)]="item.pricePerSqm"
                  (ngModelChange)="calculate(item)">

              </td> -->

              <!-- month -->
              <!-- <td>

                <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control text-end" [(ngModel)]="item.monthlyRent"
                  (ngModelChange)="calculateYear(item)">

              </td> -->

              <!-- year -->
              <!-- <td>

                <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control text-end" [(ngModel)]="item.yearlyRent"
                  (ngModelChange)="calculateGrand(); updateDetailItems()">

              </td> -->

              <!-- purpose -->
              <td>

                <textarea class="form-control" rows="2" [(ngModel)]="item.purpose" (ngModelChange)="updateDetailItems()"
                  placeholder="ระบุวัตถุประสงค์">
                                </textarea>

              </td>

              <!-- delete -->
              <td>

                <button class="btn btn-sm btn-danger" (click)="removeRow(i)">
                  <i class="bx bx-trash"></i>
                </button>

              </td>

            </tr>

          </tbody>

          <tfoot>

            <tr>

              <td class="text-end">

              </td>

              <!-- total area -->
              <td class="text-end">

                รวมทั้งสิ้น

              </td>

              <!-- total rate -->
              <td class="text-end">

                {{
                totalRate
                | number:'1.2-2'
                }}

              </td>

              <!-- total month -->
              <td class="text-end">

                {{
                totalMonth
                | number:'1.2-2'
                }}

              </td>

              <!-- total year -->
              <td class="text-end">

                {{
                totalYear
                | number:'1.2-2'
                }}

              </td>

              <td colspan="3"></td>

            </tr>

          </tfoot>

        </table>

      </div>

    </div>

  <!-- footer -->
  <div class="d-flex justify-content-between mt-3">

    <button class="btn btn-primary" (click)="addRow()">

       <i class="bx bx-plus text-black"></i>
                   <span class="text-black"> เพิ่มรายการ</span>

    </button>

    <span class="text-danger">

      จำนวน {{rentList.length}} รายการ

    </span>

  </div>

