<div class="card bg-light border">


    <div class="card-body p-2">

        <div class="table-responsive">
            <table class="table table-bordered align-middle text-center">

                <thead class="table-secondary">
                    <tr>
                        <th width="5%">ลำดับ</th>
                        <th style="width:25%">ระบุชื่อรายการเช่า</th>
                        <th style="width:10%">จำนวนรายการ</th>
                        <th style="width:15%">จำนวนเงิน (บาท)</th>
                        <th style="width:10%">จำนวนเดือน</th>
                        <th style="width:15%">รวมรายปี</th>
                        <th style="width:20%">แนบเอกสาร</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let item of rentItems; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <input class="form-control form-control-sm" [(ngModel)]="item.name">
                        </td>

                        <td>
                            <input type="number" class="form-control form-control-sm text-center" [(ngModel)]="item.qty"
                                (input)="calculate(item)">
                        </td>

                        <td>
                            <input type="number" class="form-control form-control-sm text-end" [(ngModel)]="item.price"
                                (input)="calculate(item)">
                        </td>

                        <td>
                            <input type="number" class="form-control form-control-sm text-center"
                                [(ngModel)]="item.months" (input)="calculate(item)">
                        </td>

                        <td>
                            <input class="form-control form-control-sm text-end" [value]="item.total | number:'1.2-2'"
                                readonly>
                        </td>

                        <td>
                            <input type="file" class="form-control form-control-sm">
                        </td>

                        <td>
                            <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
                                <i class="bx bx-trash"></i>
                            </button>
                        </td>

                    </tr>

                </tbody>
                <tfoot>
                    <tr class="table-light fw-bold">
                        <td colspan="5" class="text-end">รวม</td>
                        <td>{{ grandTotal | number:'1.2-2' }}</td>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>

            </table>
        </div>

        <div class="d-flex justify-content-between mt-3">

            <div>
                <button class="btn btn-secondary btn-sm" (click)="addItem()">
                    เพิ่มรายการ
                </button>

                <span class="ms-3 text-danger small">
                    จำนวน {{rentItems.length}} รายการ
                </span>
            </div>

            <!-- <div>
                <button class="btn btn-success" (click)="save()">
                    💾 บันทึก
                </button>
                <button class="btn btn-danger" (click)="closeModal()">
                    ✖ ปิดหน้าต่าง
                </button>

            </div> -->

        </div>

    </div>
</div>