

    <div class="card-body p-2">

        <div class="expense-table-responsive">

            <table class="table table-bordered align-middle expense-table text-center mb-0">

                <!-- header -->
                <thead class="text-center text-white expense-table-header">

                    <tr>

                        <th width="5%">
                            ลำดับ
                        </th>

                        <th style="width:25%">
                            ระบุชื่อรายการ
                        </th>

                        <th style="width:10%">
                            จำนวน
                        </th>

                        <th style="width:10%">
                            จำนวนเดือน
                        </th>
                         <th style="width:15%">
                                อัตราค่าเช่า/เดือน (บาท)
                        </th>

                        <th style="width:15%">
                                อัตราค่าเช่า/ปี (บาท)
                        </th>

                        <th style="width:5%">ลบ</th>

                    </tr>

                </thead>

                <!-- body -->
                <tbody>

                    <tr *ngFor="let item of rentItems; let i=index">

                        <!-- no -->
                        <td>

                            {{ i + 1 }}

                        </td>

                        <!-- name -->
                        <td>

                            <input class="form-control" [(ngModel)]="item.name"
                                (ngModelChange)="updateDetailItems()" placeholder="ระบุชื่อรายการ">

                        </td>

                        <!-- qty -->
                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" placeholder="ระบุจำนวน"
                            class="form-control  text-center" [(ngModel)]="item.qty"
                                (ngModelChange)="calculate(item)">

                        </td>

                         <!-- month -->
                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" placeholder="ระบุจำนวนเดือน"
                            class="form-control text-center"
                                [(ngModel)]="item.months" (ngModelChange)="calculate(item)">

                        </td>
                        <!-- price -->
                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"  placeholder="ระบุอัตราค่าเช่า/เดือน"
                            class="form-control text-end" [(ngModel)]="item.price"
                                (ngModelChange)="calculate(item)">

                        </td>

                       

                        <!-- total -->
                        <td>

                            <input class="form-control text-end fw-bold " placeholder="อัตราค่าเช่า/ปี"
                                [value]="item.total | number:'1.2-2'" readonly    style="background-color: #ebeff3;">

                        </td>

                        <!-- delete -->
                        <td>

                            <button class="btn btn-danger btn-sm" (click)="removeItem(i)">

                                   <i class="bx bx-trash"></i>

                            </button>

                        </td>

                    </tr>

                </tbody>

                <!-- footer -->
                <tfoot>

                    <tr class="table fw-bold expense-table-header">

                        <td colspan="5" class="text-end">

                            รวมทั้งสิ้น

                        </td>

                        <td class="text-end">

                            {{
                            grandTotal
                            | number:'1.2-2'
                            }}

                        </td>

                        <td colspan="2"></td>

                    </tr>

                </tfoot>

            </table>

        </div>

        <!-- footer action -->
        <div class="d-flex justify-content-between align-items-center mt-3">

            <div>

                <button class="btn btn-primary" (click)="addItem()">

                 <i class="bx bx-plus text-black"></i>
                   <span class="text-black"> เพิ่มรายการ</span>


                </button>

                <span class="ms-3 text-danger small">

                    จำนวน {{ rentItems.length }} รายการ

                </span>

            </div>

        </div>

    </div>

