<div class="container-fluid bg-light p-3">

    <!-- HEADER -->
    <div class="bg-white border rounded p-2 mb-3 fw-semibold">
        แบบฟอร์มค่าเบี้ยเลี้ยง ค่าเช่าที่พัก และค่าพาหนะ
    </div>


    <!-- SECTION LOOP -->
    <div *ngFor="let section of sections; let s=index" class="d-flex mb-3">

        <!-- LEFT NUMBER BAR -->
        <div class="bg-light text-center fw-bold rounded-start" style="width:60px;padding-top:15px">

            {{s+1}}

        </div>


        <!-- MAIN CONTENT -->
        <div class="flex-grow-1 bg-white border rounded-end p-3">

            <!-- DESCRIPTION -->
            <div class="d-flex mb-2">

                <input class="form-control me-2" [(ngModel)]="section.description"
                    placeholder="คำอธิบายรายการ เช่น เดินทางไปประชุม เป็นต้น">

                <!-- <button class="btn btn-outline-dark btn-sm" (click)="addDetail(section)">
                    + เพิ่มรายละเอียด
                </button> -->
                <button class="btn btn-sm btn-outline-danger" (click)="remove(s)">
                    🗑
                </button>

            </div>


            <!-- TABLE -->
            <div class="table-responsive">

                <table class="table table-bordered  align-middle mb-0">

                    <thead class="table-light">

                        <tr>

                            <th style="width:220px" class="text-start">
                                {{s+1}}.1<br>ระดับ
                            </th>

                            <th style="width:120px" class="text-center">ครั้ง</th>

                            <th style="width:160px" class="text-center"></th>

                            <th class="text-center">ค่าเบี้ยเลี้ยง</th>

                            <th class="text-center">ค่าเช่าที่พัก</th>

                            <th class="text-center">ค่าพาหนะ (เครื่องบิน)</th>

                            <th class="text-center">ค่าพาหนะ (แท็กซี่)</th>

                            <th style="width:170px" class="text-center">รวมทั้งสิ้น (บาท)</th>

                            <th style="width:50px" class="text-center"></th>

                        </tr>

                    </thead>


                    <tbody>

                        <ng-container *ngFor="let detail of section.details; let i=index">

                            <!-- ROW 1 -->
                            <tr>

                                <td rowspan="4">

                                    <select class="form-select" [(ngModel)]="detail.level">

                                        <option value="">--- ระดับ ---</option>
                                        <option value="8">ระดับ 8 ลงมา</option>
                                        <option value="9">ระดับ 9 ขึ้นไป</option>
                                        <option value="10">ระดับ 10 ขึ้นไป</option>

                                    </select>

                                </td>

                                <td>

                                    <input type="number" class="form-control text-center" [(ngModel)]="detail.times"
                                        (ngModelChange)="calculate(detail)">

                                </td>

                                <td class="bg-light text-start ps-3">
                                    จำนวนคน
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.perdiemPerson"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.hotelPerson"
                                        (ngModelChange)="calculate(detail)">
                                    <div style="margin-top:6px" class="text-center">

                                        <label>
                                            <input type="checkbox">
                                            พักเดี่ยว
                                        </label>

                                        <label style="margin-left:10px">
                                            <input type="checkbox">
                                            พักคู่
                                        </label>

                                    </div>

                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.planePerson"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.taxiPerson"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td rowspan="4" class="bg-light fw-bold text-end">

                                    {{detail.grandTotal | number:'1.2-2'}}

                                </td>

                                <td rowspan="4">

                                    <button class="btn btn-sm btn-outline-danger" (click)="removeDetail(section,i)">
                                        🗑
                                    </button>

                                </td>

                            </tr>


                            <!-- ROW 2 -->
                            <tr>

                                <td></td>

                                <td class="bg-light text-start ps-3">
                                    จำนวนวัน/คืน/เที่ยว
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.perdiemDay"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.hotelNight"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.planeTrip"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.taxiTrip"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                            </tr>


                            <!-- ROW 3 -->
                            <tr>

                                <td></td>

                                <td class="bg-light text-start ps-3">
                                    อัตรา/วัน (บาท)
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.perdiemRate"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.hotelRate"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.planeRate"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="detail.taxiRate"
                                        (ngModelChange)="calculate(detail)">
                                </td>

                            </tr>


                            <!-- ROW 4 -->
                            <tr>

                                <td></td>

                                <td class="bg-light text-start ps-3">
                                    รวม (บาท)
                                </td>

                                <td class="bg-light text-end">
                                    {{detail.perdiemTotal | number:'1.2-2'}}
                                </td>

                                <td class="bg-light text-end">
                                    {{detail.hotelTotal | number:'1.2-2'}}
                                </td>

                                <td class="bg-light text-end">
                                    {{detail.planeTotal | number:'1.2-2'}}
                                </td>

                                <td class="bg-light text-end">
                                    {{detail.taxiTotal | number:'1.2-2'}}
                                </td>

                            </tr>

                        </ng-container>

                    </tbody>

                </table>

            </div>

        </div>

    </div>


    <!-- ADD SECTION -->
    <button class="btn btn-outline-secondary btn-sm" (click)="addSection()">
        + เพิ่มรายการ
    </button>

</div>