<div class="card mb-4">
    <div class="card-header fw-bold bg-light ">
        แผนระดับ 1
    </div>
    <div class="card-body">
        <div class="border-start border-4 border-primary ps-3 mb-4">
            <h6 class="fw-bold text-primary mb-3">
                1.1 ยุทธศาสตร์ที่เกี่ยวข้องโดยตรง (Z) *
            </h6>
        </div>



        <div class="border rounded p-3 mb-3 bg-light">
            <div class="row g-3 ">
                <div class="col-md-4 ">
                    <label class="form-label">ยุทธศาสตร์ด้าน</label>
                    <select class="form-select">
                        <option selected disabled>-- เลือก --</option>
                        <option>ตัวเลือกที่ 1</option>
                        <option>ตัวเลือกที่ 2</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">ประเด็นยุทธศาสตร์</label>
                    <select class="form-select">
                        <option selected disabled>-- เลือก --</option>
                        <option>ตัวเลือกที่ 1</option>
                        <option>ตัวเลือกที่ 2</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">ประเด็นย่อย</label>
                    <select class="form-select">
                        <option selected disabled>-- เลือก --</option>
                        <option>ตัวเลือกที่ 1</option>
                        <option>ตัวเลือกที่ 2</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมาย</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <hr class="my-4">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="border-start border-4 border-primary ps-3 mb-4">
                <h6 class="fw-bold text-primary">
                    1.2 ยุทธศาสตร์ชาติที่เกี่ยวข้องในระดับรอง (Z)
                </h6>
            </div>


            <button class="btn btn-sm btn-outline-primary" (click)="addSubStrategy()">
                + เพิ่มรายการ
            </button>
        </div>

        <div *ngFor="let item of subStrategies; let i = index" class="border rounded p-3 mb-3 bg-light">

            <div class="text-end">
                <button class="btn btn-sm btn-danger" (click)="removeSubStrategy(i)">
                    <i class="bx bx-trash"></i>
                </button>
            </div>

            <div class="row g-3">

                <div class="col-md-4">
                    <label class="form-label">ยุทธศาสตร์ด้าน</label>
                    <select class="form-select">
                        <option selected disabled>-- เลือก --</option>
                        <option>ตัวเลือกที่ 1</option>
                        <option>ตัวเลือกที่ 2</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">ประเด็นยุทธศาสตร์</label>
                    <select class="form-select">
                        <option selected disabled>-- เลือก --</option>
                        <option>ตัวเลือกที่ 1</option>
                        <option>ตัวเลือกที่ 2</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">ประเด็นย่อย</label>
                    <select class="form-select">
                        <option selected disabled>-- เลือก --</option>
                        <option>ตัวเลือกที่ 1</option>
                        <option>ตัวเลือกที่ 2</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <label class="form-label">เป้าหมาย</label>
                    <input type="text" class="form-control">
                </div>

                <div class="col-md-12">
                    <label class="form-label">
                        ความสอดคล้องของโครงการกับยุทธศาสตร์ชาติ
                    </label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>

            </div>
        </div>

        <div class="card mb-4">

            <div class="card-header fw-bold bg-light">
                แผนระดับ 2
            </div>
            <div class="card-body">
                <div class="border-start border-4 border-primary ps-3 mb-4">
                    <h6 class="fw-bold text-primary mb-3">
                        2.1 ความสอดคล้องกับแผนแม่บทภายใต้ยุทธศาสตร์ชาติ (Y) *
                    </h6>
                </div>


                <div class="border rounded p-3 mb-3 bg-light">
                    <div class="row g-3 ">

                        <div class="col-md-4">
                            <label class="form-label">ยุทธศาสตร์ด้าน</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">เป้าหมายระดับประเด็น (Y2)</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">
                                ความสอดคล้องกับเป้าหมายของแผนแม่บท
                            </label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">แผนย่อยของแผนแม่บท</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">เป้าหมายแผนแม่บท (Y1)</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">
                                ความสอดคล้องโครงการกับเป้าหมายของแผนย่อย(อธิบาย)
                            </label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">แนวทางการพัฒนาภายใต้แผนย่อย</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="border-start border-4 border-primary ps-3 mb-4">
                    <h6 class="fw-bold text-primary mb-3">
                        2.2 ความสอดคล้องกับแผนพัฒนาเศรษฐกิจและสังคมแห่งชาติ (ฉบับที่ 13) *
                    </h6>
                </div>


                <div class="border rounded p-3 mb-3 bg-light">
                    <div class="row g-3 ">


                        <div class="col-md-4">
                            <label class="form-label">หมุดหมาย</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">เป้าหมาย</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">ตัวชี้วัดที่</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">กลยุทธ์การพัฒนาที่</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">กลยุทธ์ย่อยที่</label>
                            <select class="form-select">
                                <option selected disabled>-- เลือก --</option>
                                <option>ตัวเลือกที่ 1</option>
                                <option>ตัวเลือกที่ 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="border-start border-4 border-primary ps-3 mb-4">
                    <h6 class="fw-bold text-primary mb-3">
                        2.3 ความสอดคล้องกับแผนความมั่นคงชาติ นโยบายและแผนระดับชาติว่าด้วยความมันคง (พ.ศ. 2566 - 2570)
                    </h6>
                </div>


                <!-- ปุ่มเพิ่ม -->
                <div class="mb-3">
                    <button class="btn btn-primary btn-sm" (click)="addPolicy()">
                        <i class="ri-add-line"></i> เพิ่มรายการ
                    </button>
                </div>

                <div class="row g-3">

                    @for(item of policyList; track $index){

                    <div class="col-12 border rounded p-3 bg-light">

                        <div class="row g-3 align-items-end">

                            <!-- หัวข้อ -->


                            <!-- ประเด็นที่สอดคล้อง -->
                            <div class="col-md-10">
                                <label class="form-label">ประเด็นที่สอดคล้อง</label>
                                <input type="text" class="form-control" [(ngModel)]="item.detail">
                            </div>

                            <!-- ปุ่มลบ -->
                            <div class="col-md-2 text-end">
                                <button class="btn btn-danger btn-sm" (click)="removePolicy($index)">
                                    <i class="ri-delete-bin-line"></i>
                                </button>
                            </div>

                        </div>

                    </div>

                    }

                </div>

            </div>
            <hr class="my-4">
            <div class="border-start border-4 border-primary ps-3 mb-4">
                <h6 class="fw-bold text-primary mb-3">ความสอดคล้องห่วงโซ่คุณค่า (Value Chains)</h6>
            </div>


            <div class="border rounded p-3 mb-3 bg-light">
                <div class="row g-3 ">


                    <div class="col-md-6">
                        <label class="form-label">หลัก</label>
                        <select class="form-select">
                            <option selected disabled>-- เลือก --</option>
                            <option>ตัวเลือกที่ 1</option>
                            <option>ตัวเลือกที่ 2</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">ปัจจัย</label>
                        <select class="form-select">
                            <option selected disabled>-- เลือก --</option>
                            <option>ตัวเลือกที่ 1</option>
                            <option>ตัวเลือกที่ 2</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">ส่วนสนับสนุน (ถ้ามี)</label>
                        <select class="form-select">
                            <option selected disabled>-- เลือก --</option>
                            <option>ตัวเลือกที่ 1</option>
                            <option>ตัวเลือกที่ 2</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">ปัจจัย</label>
                        <select class="form-select">
                            <option selected disabled>-- เลือก --</option>
                            <option>ตัวเลือกที่ 1</option>
                            <option>ตัวเลือกที่ 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="border-start border-4 border-primary ps-3 mb-4">
                <h6 class="fw-bold text-primary mb-3">ความสอดคล้องกับเป้าหมาย SDGs</h6>
            </div>


            <div class="border rounded p-3 mb-3 bg-light">
                <div class="row g-3 ">

                    <div class="col-md-6">
                        <label class="form-label">เป้าหมายหลัก SDGs</label>
                        <select class="form-select">
                            <option selected disabled>-- เลือก --</option>
                            <option>ตัวเลือกที่ 1</option>
                            <option>ตัวเลือกที่ 2</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">เป้าหมายย่อย SDGs</label>
                        <select class="form-select">
                            <option selected disabled>-- เลือก --</option>
                            <option>ตัวเลือกที่ 1</option>
                            <option>ตัวเลือกที่ 2</option>
                        </select>
                    </div>
                </div>

            </div>
            <br>
            <div class="card mb-4">
                <div class="card-header fw-bold bg-light">
                    แผนระดับ 3
                </div>
                <div class="card-body">
                    <div class="border-start border-4 border-primary ps-3 mb-4">
                        <h6 class=" fw-bold text-primary mb-3 mt-4">3.1 ความสอดคล้องกับนโยบายเร่งด่วนของรัฐบาล</h6>
                    </div>

                    <div class="border rounded p-3 mb-3 bg-light">
                        <div class="row g-3 ">
                            <label class="form-label">1.
                                การผลักดันให้เกิดการปรับโครงสร้างหนี้ทั้งระบบ</label>
                            <div class="d-flex align-items-center mb-1">
                                <input type="checkbox" class="form-check-input me-2"> 1.1

                                <input type="text" class="form-control me-2">
                                <input type="checkbox" class="form-check-input me-2"> 1.2

                                <input type="text" class="form-control me-2">
                            </div>
                        </div>
                    </div>
                    <div class="border-start border-4 border-primary ps-3 mb-4">
                        <h6 class=" fw-bold text-primary mb-3 mt-4">3.2 ความสอดคล้องกับนโยบายรัฐบาลระยะกลางและระยะยาว
                        </h6>
                    </div>

                    <div class="border rounded p-3 mb-3 bg-light">
                        <div class="row g-3 ">
                            <label class="form-label">1.
                                ________________________</label>
                            <div class="d-flex align-items-center mb-1">
                                <input type="checkbox" class="form-check-input me-2"> 1.1

                                <input type="text" class="form-control me-2">
                                <input type="checkbox" class="form-check-input me-2"> 1.2

                                <input type="text" class="form-control me-2">
                            </div>
                        </div>
                    </div>
                    <div class="border-start border-4 border-primary ps-3 mb-4">
                        <h6 class="fw-bold text-primary mb-3">3.3 มติคณะรัฐมนตรีที่เกี่ยวข้อง</h6>
                    </div>


                    <button class="btn btn-sm btn-outline-primary mb-3" (click)="addCabinet()">
                        + เพิ่มรายการ
                    </button>

                    <div *ngFor="let item of cabinetList; let i = index"
                        class="input-group mb-2 border rounded p-3 mb-3 bg-light">

                        <input type="text" class="form-control">

                        <button class="btn btn-danger" (click)="removeCabinet(i)">
                            <i class="bx bx-trash"></i>
                        </button>

                    </div>
                    <div class="border-start border-4 border-primary ps-3 mb-4">
                        <h6 class="fw-bold text-primary mb-3 mt-4">
                            3.4 ความสอดคล้องกับแผนปฏิบัติราชการ ปปท.
                        </h6>
                    </div>

                    <div class="border rounded p-3 mb-3 bg-light">
                        <div class="row g-3 ">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="ppatYes" name="ppatAlign" value="yes">
                                <label class="form-check-label" for="ppatYes">
                                    เรื่อง ________
                                </label>
                            </div>

                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="ppatNo" name="ppatAlign" value="no">
                                <label class="form-check-label" for="ppatNo">
                                    เรื่อง ________
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="border-start border-4 border-primary ps-3 mb-4">
                        <h6 class="fw-bold text-primary mb-3 mt-4">
                            3.5 ความสอดคล้องกับแผนงาน ปปท.
                        </h6>
                    </div>

                    <div class="border rounded p-3 mb-3 bg-light">
                        <div class="d-flex justify-content-between mb-2">
                            <input type="text" class="form-control me-2" placeholder="แผนงานที่ 1">


                        </div>

                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label">กลยุทธ์ที่</label>
                                <select class="form-select">
                                    <option selected disabled>-- เลือก --</option>
                                    <option>ตัวเลือกที่ 1</option>
                                    <option>ตัวเลือกที่ 2</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">มาตรการที่</label>
                                <select class="form-select">
                                    <option selected disabled>-- เลือก --</option>
                                    <option>ตัวเลือกที่ 1</option>
                                    <option>ตัวเลือกที่ 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label class="form-label">ตัวชี้วัดแผนงาน</label>
                                <select class="form-select">
                                    <option selected disabled>-- เลือก --</option>
                                    <option>ตัวเลือกที่ 1</option>
                                    <option>ตัวเลือกที่ 2</option>
                                </select>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
</div>