
    <div class="card shadow-sm">

        <div class="p-2">
            <button class="btn btn-primary" (click)="addProject()">
                         <i class="bx bx-plus text-black"></i>
                   <span class="text-black"> เพิ่มรายการ</span>
            </button>
        </div>

        <div *ngFor="let project of projects; let p=index" class="card-body p-0">

            <!-- ตารางข้อมูลโครงการ -->

            <table class="table table-bordered align-middle expense-table mb-3">

                <thead class="text-center text-white expense-table-header">
                    <tr>
                        <th style="width: 5%;">ลำดับ</th>
                        <th style="width: 75%;" class="text-start">ชื่อโครงการ</th>
                        <th style="width: 10%;">รวมทั้งโครงการ</th>
                        <th style="width: 10%;">ลบโครงการ</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>

                        <td style="width: 5%; text-align: center;">{{p+1}}</td>

                        <td>

                            <label >
                                ระบุชื่อโครงการ
                            </label>

                            <input class="form-control" [(ngModel)]="project.project_name" placeholder="ระบุชื่อโครงการ"
                                (input)="updateDetailItems()">

                        </td>

                        <td class="text-end">
                            {{project.totalCost | number:'1.2-2'}}
                        </td>

                        <td class="text-center">
                            <button *ngIf="projects.length > 1" class="btn btn-sm btn-danger"
                                (click)="removeProject(p)" title="ลบรายการ">
                                <i class="bx bx-trash"></i>
                            </button>
                        </td>

                    </tr>

                    <tr>

                        <td></td>

                        <td>

                            <div class="row">

                                <div class="col-md-6">

                                    <label>
                                        เหตุผลความจำเป็น
                                    </label>

                                    <textarea class="form-control" [(ngModel)]="project.reason" placeholder="ระบุเหตุผลความจำเป็น"
                                        (input)="updateDetailItems()"></textarea>

                                </div>

                                <div class="col-md-6">

                                    <label>
                                        ผลประโยชน์ที่จะได้รับ
                                    </label>

                                    <textarea class="form-control" [(ngModel)]="project.benefit" placeholder="ระบุผลประโยชน์ที่จะได้รับ"
                                        (input)="updateDetailItems()"></textarea>

                                </div>

                            </div>

                        </td>

                        <td></td>

                        <td></td>

                    </tr>

                </tbody>

            </table>

            <!-- ตารางค่าจ้าง -->

            <table class="table table-bordered align-middle expense-table text-center">

                <thead class="text-center text-white expense-table-header">

                    <tr>

                        <th style="width: 5%">
                            ลำดับ
                        </th>

                        <th style="width: 30%" class="text-center">
                            รายการ
                        </th>

                        <th style="width: 10%">
                            กลุ่มวิชาชีพ
                        </th>

                        <th colspan="3" style="width: 10%">
                            ระดับการศึกษา
                        </th>

                        <th style="width: 10%">
                            ประสบการณ์
                        </th>

                        <th style="width: 10%">
                            จำนวน
                        </th>

                        <th style="width: 10%">
                            เดือน
                        </th>

                        <th style="width: 10%">
                            อัตรา
                        </th>

                        <th style="width: 10%">
                            รวม
                        </th>

                        <th style="width: 8%">
                            ลบรายการ
                        </th>

                    </tr>

                    <tr>

                        <th></th>

                        <th></th>

                        <th></th>

                        <th>ตรี</th>

                        <th>โท</th>

                        <th>เอก</th>

                        <th></th>

                        <th></th>

                        <th></th>

                        <th></th>

                        <th></th>

                        <th></th>

                    </tr>

                </thead>

                <tbody>

                    <!-- บุคลากรหลัก -->

                    <tr class="table-secondary">

                        <td>1</td>

                        <td colspan="10" class="text-start">
                            บุคลากรหลัก
                        </td>

                        <td>

                            <button class="btn btn-sm btn-success" (click)="addMainDetail(p)">
                   <span class="text-black"> เพิ่ม</span>
                            </button>

                        </td>

                    </tr>

                    <tr *ngFor="let main of project.mainStaff; let i=index">

                        <td>
                            1.{{i+1}}
                        </td>

                        <td>

                            <input class="form-control text-start" [(ngModel)]="main.name" placeholder="ระบุบุคลากรหลัก"
                                (input)="updateDetailItems()">

                        </td>

                        <td>

                            <input class="form-control text-center" [(ngModel)]="main.field" placeholder="ระบุกลุ่มวิชาชีพ"
                                (input)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="checkbox" [(ngModel)]="main.edu_bachelor" (change)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="checkbox" [(ngModel)]="main.edu_master" (change)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="checkbox" [(ngModel)]="main.edu_phd" (change)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" 
                            class="form-control text-center" [(ngModel)]="main.exp" placeholder="ระบุประสบการณ์"
                                (input)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control text-center" [(ngModel)]="main.qty" placeholder="ระบุจำนวน"
                                (input)="calculateMain(p)">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control text-center" [(ngModel)]="main.month" placeholder="ระบุเดือน"
                                (input)="calculateMain(p)">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control text-end" [(ngModel)]="main.rate" placeholder="ระบุอัตรา"
                                (input)="calculateMain(p)">

                        </td>

                        <td class="text-end">

                            {{main.total | number:'1.2-2'}}

                        </td>

                        <td>

                            <button class="btn btn-sm btn-danger" (click)="removeMain(p,i)">

                               <i class="bx bx-trash"></i>

                            </button>

                        </td>

                    </tr>

                    <!-- บุคลากรสนับสนุน -->

                    <tr class="table-secondary">

                        <td>2</td>

                        <td colspan="10" class="text-start">
                            บุคลากรสนับสนุน
                        </td>

                        <td>

                            <button class="btn btn-sm btn-success" (click)="addSupportDetail(p)">

                                    <span class="text-black"> เพิ่ม</span>

                            </button>

                        </td>

                    </tr>

                    <tr *ngFor="let sup of project.supportStaff; let i=index">

                        <td>
                            2.{{i+1}}
                        </td>

                        <td>

                            <input class="form-control text-start" [(ngModel)]="sup.name" placeholder="ระบุบุคลากรสนับสนุน"
                                (input)="updateDetailItems()">

                        </td>

                        <td>

                            <input class="form-control text-center" [(ngModel)]="sup.field" placeholder="ระบุกลุ่มวิชาชีพ"
                                (input)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="checkbox" [(ngModel)]="sup.edu_bachelor" (change)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="checkbox" [(ngModel)]="sup.edu_master" (change)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="checkbox" [(ngModel)]="sup.edu_phd" (change)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                             class="form-control text-center" [(ngModel)]="sup.exp" placeholder="ระบุประสบการณ์"
                                (input)="updateDetailItems()">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" 
                            class="form-control text-center" [(ngModel)]="sup.qty" placeholder="ระบุจำนวน"
                                (input)="calculateSupport(p)">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" 
                            class="form-control text-center" [(ngModel)]="sup.month" placeholder="ระบุเดือน"
                                (input)="calculateSupport(p)">

                        </td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" 
                            class="form-control text-end" [(ngModel)]="sup.rate" placeholder="ระบุอัตรา"
                                (input)="calculateSupport(p)">

                        </td>

                        <td class="text-end">

                            {{sup.total | number:'1.2-2'}}

                        </td>

                        <td>

                            <button class="btn btn-sm btn-danger" (click)="removeSupport(p,i)">

                              <i class="bx bx-trash"></i>
                            </button>

                        </td>

                    </tr>

                    <!-- ค่าใช้จ่ายอื่น -->

                    <tr class="table-secondary">

                        <td>3</td>

                        <td colspan="10" class="text-start">
                            ค่าใช้จ่ายอื่น
                        </td>

                        <td>

                            <button class="btn btn-sm btn-success" (click)="addOtherDetail(p)">

                                <span class="text-black"> เพิ่ม</span>

                            </button>

                        </td>

                    </tr>

                    <tr *ngFor="let other of project.otherCost; let i=index">

                        <td>
                            3.{{i+1}}
                        </td>

                        <td class="text-start">

                            <input class="form-control text-start" [(ngModel)]="other.name" Placeholder="ระบุค่าใช้จ่ายอื่น"
                                (input)="updateDetailItems()">

                        </td>

                        <td colspan="7"></td>

                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal" class="form-control" [(ngModel)]="other.rate" placeholder="ระบุอัตราค่าใช้จ่าย"
                                (input)="calculateOther(p)">

                        </td>

                        <td class="text-end">

                            {{other.rate | number:'1.2-2'}}

                        </td>

                        <td>

                            <button class="btn btn-sm btn-danger" (click)="removeOther(p,i)">

                                   <i class="bx bx-trash"></i>
                            </button>

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

