<div class="card shadow-sm">
    <div class="card-header">
        <h5 class="mb-0">กำหนดเป้าหมาย</h5>
    </div>

    <div class="card-body">
        <ng-container *ngFor="let section of sections">
            <div class="mb-4">
                <h6 class="fw-semibold mb-3">{{section.title}}</h6>

                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="border rounded p-3 bg-light overflow-hidden">
                            <div class="box-title box-title-header">เป้าหมายการใช้จ่าย</div>

                            <div *ngFor="let q of quarters; let i = index"
                                class="d-flex align-items-center justify-content-between mb-2">
                                <span class="quarter-label">ไตรมาส {{i+1}}</span>

                                <div class="input-group custom-input w-50">
                                    <input type="number" class="form-control text-end" [(ngModel)]="section.pay[i]">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="border rounded p-3 bg-light overflow-hidden">
                            <div class="box-title box-title-header">เป้าหมายการเบิกจ่าย</div>

                            <div *ngFor="let q of quarters; let i = index"
                                class="d-flex align-items-center justify-content-between mb-2">
                                <span class="quarter-label">ไตรมาส {{i+1}}</span>

                                <div class="input-group custom-input w-50">
                                    <input type="number" class="form-control text-end" [(ngModel)]="section.disburse[i]">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-success text-black px-4" (click)="save()">
                บันทึก
            </button>
        </div>
    </div>
</div>
