
        <div class="expense-table-responsive">
            <table class="table table-bordered align-middle text-center expense-table mb-0" style="table-layout: fixed;">
                <thead class="text-center text-white expense-table-header">
                    <tr>
                        <th style="width:30%">ชื่อ - นามสกุล</th>
                        <th style="width:20%">ตำแหน่ง</th>
                        <th style="width:10%">จำนวน (คัน)</th>
                        <th style="width:15%">ค่าใช้จ่ายต่อเดือน</th>
                        <th style="width:15%">ค่าใช้จ่ายต่อปี</th>
                        <th style="width:5%">ลบ</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of list; let i = index">
                        <td>
                            <input class="form-control" [(ngModel)]="item.name"
                                (ngModelChange)="updateDetailItems()" placeholder="ระบุชื่อ - นามสกุล">
                        </td>

                        <td>
                            <select class="form-select" [(ngModel)]="item.position" (change)="updateDetailItems()">
                                <option value="">-- กรุณาเลือกตำแหน่งงาน --</option>
                                <option value="เลขาธิการ ป.ป.ท.">เลขาธิการ ป.ป.ท.</option>
                                <option value="รองเลขาธิการ ป.ป.ท.">รองเลขาธิการ ป.ป.ท.</option>
                                <option value="ผู้ช่วยเลขาธิการ ป.ป.ท.">ผู้ช่วยเลขาธิการ ป.ป.ท.</option>
                            </select>
                        </td>

                        <td>
                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                                class="form-control text-center" [(ngModel)]="item.qty"  placeholder="ระบุจำนวนคัน"
                                (ngModelChange)="calculate(item)">
                        </td>

                        <td>
                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." inputmode="decimal"
                                class="form-control text-end" [ngModel]="item.rate"
                                (ngModelChange)="onRateChange($event, item)"  placeholder="ค่าใช้จ่ายต่อเดือน">
                        </td>

                        <td class="fw-bold text-end text-black">
                            {{ item.total | number:'1.2-2' }}
                        </td>

                        <td>
                            <button class="btn btn-sm btn-danger" (click)="remove(item)">
                                <i class="bx bx-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2" class="text-end">รวมทั้งสิ้น</td>
                        <td>{{ totalQty | number:'1.0-2' }}</td>
                        <td class="text-end">{{ totalMonth | number:'1.2-2' }}</td>
                        <td class="text-end">{{ totalYear | number:'1.2-2' }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <div>
                <button class="btn btn-primary" (click)="add()">
                    <i class="bx bx-plus text-black"></i>
                   <span class="text-black"> เพิ่มรายการ</span>
                </button>
                <span class="text-danger ms-2">จำนวน {{ list.length }} รายการ</span>
            </div>
        </div>
