
        <!-- tabs -->
        <ul class="nav nav-tabs mb-3">

            <li class="nav-item">

                <button class="nav-link" [class.active]="tab === 'old'" (click)="tab='old'; calculateAll()">

                    ผูกพันเดิม

                </button>

            </li>

            <li class="nav-item">

                <button class="nav-link" [class.active]="tab === 'new'" (click)="tab='new'; calculateAll()">

                    ผูกพันใหม่

                </button>

            </li>

        </ul>

        <!-- table -->
        <div class="expense-table-responsive">

            <table class="table table-bordered align-middle expense-table text-center mb-0">

                <!-- header -->
                <thead class="text-center text-white expense-table-header">

                    <tr>

                        <th width="5%">

                            ลำดับ

                        </th>

                        <th width="30%">

                            ประเภทรถ

                        </th>

                        <th width="10%">

                            จำนวนคัน

                        </th>

                        <th width="10%">

                            จำนวนเดือน

                        </th>

                                                <th width="15%">

                            ค่าเช่า/เดือน

                        </th>

                        <th width="15%;" style="text-align: right;">

                            รวมค่าใช้จ่าย

                        </th>
                        <th width="15%">ลบ
                        </th>
                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="
                            let item of getCurrentItems();
                            let i = index
                        ">

                        <!-- index -->
                        <td>

                            {{ i + 1 }}

                        </td>

                        <!-- car -->
                        <td>

                            <ng-select [items]="Mas_Expense_Detial_List" bindLabel="Expense_Detial_Name"
                                bindValue="Expense_Detial_Id" [(ngModel)]="item.car" appendTo="body"
                                dropdownPosition="auto" name="car_rental_detail_{{tab}}_{{i}}"
                                placeholder="-- เลือกประเภทรถ --" [clearable]="false" (change)="onSelectCar(item, i)">

                            </ng-select>

                        </td>

                        <!-- qty -->
                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="."  placeholder="ระบุจำนวนคัน"
                                inputmode="decimal" class="form-control  text-center" [(ngModel)]="item.qty"
                                (ngModelChange)="calculate(i)">

                        </td>

                        <!-- month -->
                        <td>

                            <input type="text" mask="separator.2" thousandSeparator="," decimalMarker="." placeholder="ระบุจำนวนเดือน"
                                inputmode="decimal" class="form-control text-center" 
                                [(ngModel)]="item.month" (ngModelChange)="calculate(i)">

                        </td>

                        
                        <!-- price -->
                        <td>

                            <input type="text" class="form-control text-end" mask="separator.2" placeholder="ระบุค่าเช่า/เดือน"
                                thousandSeparator="," decimalMarker="." inputmode="decimal" [(ngModel)]="item.price"
                                (ngModelChange)="calculate(i)">

                        </td>


                        <!-- total -->
                        <td class="text-end fw-bold text-black">

                            {{
                            item.total
                            | number:'1.2-2'
                            }}

                        </td>

                        <!-- remove -->
                        <td>

                            <button class="btn btn-danger btn-sm" (click)="removeItem(i)">

                                   <i class="bx bx-trash"></i>

                            </button>

                        </td>

                    </tr>

                </tbody>

                <!-- footer -->
                <tfoot>

                    <tr>

                        <td colspan="5" class="fw-bold text-white text-end">

                            รวมทั้งสิ้น

                        </td>

                     
                        <td class="text-end">

                            {{
                            grandTotal
                            | number:'1.2-2'
                            }}

                        </td>

                        <td *ngIf="tab === 'old'">

                        </td>
                    </tr>

                </tfoot>

            </table>

        </div>

        <!-- action -->
        <div class="mt-3">

            <button class="btn btn-primary" (click)="addItem()">

            <i class="bx bx-plus text-black"></i>
                   <span class="text-black"> เพิ่มรายการ</span>

            </button>

            <span class="ms-2 text-danger">

                จำนวน
                {{ getCurrentItems().length }}
                รายการ

            </span>

        </div>
